<!DOCTYPE html>
<html class="" lang="en"> 

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

   
    
    <title>food</title>
</head>
<body>


<!-- PAGE WRAP -->
<div id="page-wrap">
   
    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-5"></div>
        <div class="awe-title awe-title-3">
            <h3 class="lg text-uppercase">About</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- ABOUT STORY -->
    <section id="about-story" class="about-story section">
        <div class="divider divider-2"></div>
        <div class="container">
            <div class="block-first">
                <div class="row">
                    <div class="col-md-4">
                        <div class="image-wrap">
                            <img src="assets/about/img-1.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-md-7 col-md-offset-1">
                        <h4 class="lg text-uppercase">HEALTHY FOOD IS FUTURE</h4>
                        <p>Venison spare ribs pork tail, beef meatloaf kielbasa turkey rump turducken beef ribs ground round sirloin kevin hamburger. Boudin ham hock chicken,. Leberkas ham sausage doner pastrami porchetta tri-tip boudin shankle. Meatball shoulder rump spare ribs tongue venison short ribs. Flank landjaeger brisket leberkas bacon kielbasa shank meatball, fatback t-bone pork biltong boudin. Hamburger strip steak ribeye pastrami tenderloin.</p>
                    </div>
                </div>
            </div>

            <div class="block-last">
                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="image-wrap">
                                    <img src="assets/about/img-2.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="image-wrap">
                                    <img src="assets/about/img-3.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="image-wrap">
                                    <img src="assets/about/img-4.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="image-wrap">
                                    <img src="assets/about/img-5.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 col-md-pull-4">
                        <h4 class="lg text-uppercase">WE ONLY MAKE AMBROSIAL MEAL</h4>
                        <p>Venison spare ribs pork tail, beef meatloaf kielbasa turkey rump turducken beef ribs ground round sirloin kevin hamburger. Boudin ham hock chicken,. Leberkas ham sausage doner pastrami porchetta tri-tip boudin shankle. Meatball shoulder rump spare ribs tongue venison short ribs. Flank landjaeger brisket leberkas bacon kielbasa.</p>
                        <a href="menu.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">See menu</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT STORY -->

    <!-- MILESTONES -->
    <section id="milestones" class="milestones section">
        <div class="awe-color"></div>
        <div class="awe-pattern"></div>
        <div class="section-heading text-center">
            <div class="ribbon ribbon-4">
                <h2 class="sm">milestones</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="milestones-slider">
                    <!-- ITEM -->
                    <div class="milestones-item text-center">
                        <div class="image-wrap">
                            <img src="assets/milestones/img-1.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <span class="time">1880</span>
                            <p>Doner filet mignon bacon corned beef rump.</p>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="milestones-item text-center">
                        <div class="image-wrap">
                            <img src="assets/milestones/img-2.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <span class="time">1900</span>
                            <p>Lorem de bacon kielbasa ribeye boudin pancetta prosciutto</p>
                        </div>
                    </div>
                    <!-- END / ITEM -->
                    <!-- ITEM -->
                    <div class="milestones-item text-center">
                        <div class="image-wrap">
                            <img src="assets/milestones/img-3.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <span class="time">1920</span>
                            <p>Doner filet mignon bacon corned beef rump.</p>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="milestones-item text-center">
                        <div class="image-wrap">
                            <img src="assets/milestones/img-4.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <span class="time">1990</span>
                            <p>Frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto</p>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="milestones-item text-center">
                        <div class="image-wrap">
                            <img src="assets/milestones/img-5.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <span class="time">1992</span>
                            <p>Lorem de bacon kielbasa ribeye boudin pancetta prosciutto</p>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="milestones-item text-center">
                        <div class="image-wrap">
                            <img src="assets/milestones/img-3.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <span class="time">2010</span>
                            <p>Meatball shoulder rump spare ribs tongue venison short ribs.</p>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="milestones-item text-center">
                        <div class="image-wrap">
                            <img src="assets/milestones/img-4.jpg" alt="">
                        </div>
                        <div class="item-body">
                            <span class="time">2014</span>
                            <p>Hamburger strip steak ribeye pastrami tenderloin.</p>
                        </div>
                    </div>
                    <!-- END / ITEM -->
                </div>
            </div>
        </div>
    </section>
    <!-- END / MILESTONES -->

    <!-- TESTIMONIAL -->
    <section id="testimonial" class="testimonial testimonial-2 section">
        <div class="divider divider-2"></div>

        <div class="container">
            <div class="testimonial-slider text-center">
                <!-- ITEM -->
                <div class="item">
                    <div class="icon-head">
                        <i class="icon awe_quote_left"></i>
                    </div>

                    <blockquote>
                        <p>It’s not about nutrients and calories</p>
                        <span>It’s about sharing. It’s about honesty. It’s about identity</span>
                        <div class="test-footer">
                            <span class="sm">Robert Smith</span>
                        </div>
                    </blockquote>
                </div>
                <!-- END / ITEM -->

                <!-- ITEM -->
                <div class="item">
                    <div class="icon-head">
                        <i class="icon awe_quote_left"></i>
                    </div>

                    <blockquote>
                        <p>It’s not about nutrients and calories.</p>
                        <span>It’s about sharing. It’s about honesty. It’s about identity</span>
                        <div class="test-footer">
                            <span class="sm">Robert Smith</span>
                        </div>
                    </blockquote>
                </div>
                <!-- END / ITEM -->

                <!-- ITEM -->
                <div class="item">
                    <div class="icon-head">
                        <i class="icon awe_quote_left"></i>
                    </div>

                    <blockquote>
                        <p>It’s not about nutrients and calories</p>
                        <span>It’s about sharing. It’s about honesty. It’s about identity</span>
                        <div class="test-footer">
                            <span class="sm">Robert Smith</span>
                        </div>
                    </blockquote>
                </div>
                <!-- END / ITEM -->
            </div>
        </div>
    </section>
    <!-- END / TESTIMONIAL -->

    <!-- THE STAFF -->
    <section id="the-staff" class="the-staff section">
        <div class="section-heading text-center">
            <!-- BACKGROUND -->
            <div class="awe-parallax bg-4"></div>
            <!-- END / BACKGROUND -->

            <!-- OVERLAY -->
            <div class="awe-overlay"></div>
            <!-- END / OVERLAY -->
            <div class="awe-title awe-title-3">
                <h3 class="lg text-uppercase">The staff</h3>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="staff-slider">
                        <!-- STAFF ITEM -->
                        <div class="staff-item">
                            <div class="staff-heading">
                                <div class="image-wrap">
                                    <img src="assets/staff/img-1.jpg" alt="">
                                </div>
                        
                                <div class="staff-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                </div>
                            </div>
                        
                            <div class="staff-info">
                                <h4 class="staff-name sm">DOE The Female John</h4>
                                <span class="staff-work">the chef</span>
                            </div>
                        
                            <div class="staff-body">
                                <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto.</p>
                            </div>
                        
                        </div>
                        <!-- END / STAFF ITEM -->

                        <!-- STAFF ITEM -->
                        <div class="staff-item">
                            <div class="staff-heading">
                                <div class="image-wrap">
                                    <img src="assets/staff/img-2.jpg" alt="">
                                </div>
                        
                                <div class="staff-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                    <a href="#"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        
                            <div class="staff-info">
                                <h4 class="staff-name sm">DOE The John</h4>
                                <span class="staff-work">the manager</span>
                            </div>
                        
                            <div class="staff-body">
                                <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto.</p>
                            </div>
                        
                        </div>
                        <!-- END / STAFF ITEM -->

                        <!-- STAFF ITEM -->
                        <div class="staff-item">
                            <div class="staff-heading">
                                <div class="image-wrap">
                                    <img src="assets/staff/img-3.jpg" alt="">
                                </div>
                        
                                <div class="staff-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                </div>
                            </div>
                        
                            <div class="staff-info">
                                <h4 class="staff-name sm">Peter de Joane</h4>
                                <span class="staff-work">the online manager</span>
                            </div>
                        
                            <div class="staff-body">
                                <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto.</p>
                            </div>
                        
                        </div>
                        <!-- END / STAFF ITEM -->

                        <!-- STAFF ITEM -->
                        <div class="staff-item">
                            <div class="staff-heading">
                                <div class="image-wrap">
                                    <img src="assets/staff/img-3.jpg" alt="">
                                </div>
                        
                                <div class="staff-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                </div>
                            </div>
                        
                            <div class="staff-info">
                                <h4 class="staff-name sm">Peter de Joane</h4>
                                <span class="staff-work">the online manager</span>
                            </div>
                        
                            <div class="staff-body">
                                <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto.</p>
                            </div>
                        
                        </div>
                        <!-- END / STAFF ITEM -->
                    </div>
                </div>

                <!-- WE ARE HIRING -->
                <div class="we-are-hiring">
                    <div class="tb">
                        <div class="hiring-title tb-cell">
                            <h4 class="sm text-uppercase">We are hiring</h4>
                        </div>

                        <div class="hiring-body tb-cell">
                            <p>We need 01 Chef, 02 Waiter, 01 Event manager and many supporters, Join Us Today to have more fun !</p>
                        </div>

                        <div class="hiring-link tb-cell">
                            <a href="#" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">MORE DETAIL</a>
                        </div>
                    </div>
                </div>
                <!-- END / WE ARE HIRING -->
            </div>
        </div>
    </section>
    <!-- END / THE STAFF -->

</div>
<!-- END / PAGE WRAP -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../assets/analytics.js','ga');

  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');

</script>
</body>

</html>