<!DOCTYPE html>
<html class="" lang="en"> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    
    <title>food</title>
</head>
<body>



<!-- PAGE WRAP -->
<div id="page-wrap">
    
    
    <!-- SUB BANNER -->
   <!--  <section class="sub-banner text-center section">
        <div class="awe-parallax bg-3"></div>
        <div class="awe-title awe-title-3">
            <h3 class="lg text-uppercase">Contact</h3>
        </div>
    </section> -->
    <!-- END / SUB BANNER -->

    <!-- CONTACT US -->
    <section id="contact" class="contact section">

        <div class="contact-form contact-form-2">
            <div class="divider divider-2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <address class="find-us">
                            <span class="md">Address</span>
                            <div class="location-1">
                                <i class="icon awe_map_marker"></i>
                                <strong> 2nd Floor, Kasturi Heights,<br>CTS No: 4522, Plot No:6,<br>Chinchwad, Near Chi nchwad Station, Pune-411019,
                            </div>

                           <!--  <div class="location-1">
                                <i class="icon awe_map_marker"></i>
                                <strong>Location 1: 500 CURRY RD</strong>
                                SCHENECTADY NY 12306 (518)356-5373 
                            </div>
 -->
                            <div class="phone">                                <strong>Office No.</strong>
                                (020) 6511 6622
                                  <strong>MObile No.</strong>
                                 XX-XX-XX-XX-XX
                            </div>
                        </address>
                    </div>
                    <div class="col-md-8">
                        <div class="form-row">
                            <form id="send-message-form" action="http://envato.megadrupal.com/html/ambrosia/processContact.php" method="post">
                                <div class="form-item form-textarea">
                                    <textarea placeholder="Your Message" name="message"></textarea>
                                </div>
                                <div class="form-item form-type-name">
                                    <input type="text" placeholder="Your Name" name="name">
                                </div>
                                <div class="form-item form-type-email">
                                    <input type="text" placeholder="Your Email" name="email">
                                </div>
                                <div class="form-actions">
                                    <input type="submit" value="Send message" class="btn ">
                                </div>
                                <div id="contact-content"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   <!--      <div class="contact-first">

            <!-- OVERLAY -->
           <!--  <div class="awe-overlay overlay-default"></div> -->
            <!-- END / OVERLAY -->
            
           <!--  <div class="section-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="contact-body text-center">
                                <h3 class="lg text-uppercase">CONTACT US</h3>
                                <hr class="_hr">
                                <address class="address-wrap">
                                    <span class="address">Eddy Street & Gough Street, San Francisco, CA 94109</span>
                                    <span class="phone">3792 - 7384 - 8459</span>
                                </address>
                            </div>

                            <div class="see-map text-center">
                                <a href="#" data-see-contact="See contact info" data-see-map="See location on map" class="awe-btn awe-btn-5 awe-btn-default text-uppercase"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        <!-- </div> --> 

        <div class="contact-second tb">
        
            <!-- NEWS LETTER -->
            <div class="tb-cell">
                <div class="news-letter text-center">
                    <div class="inner wow fadeInUp" data-wow-delay=".6s">
                        <div class="letter-heading">
                            <h4 class="sm text-uppercase">GET NEWS LETTER FROM US</h4>
                            <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin</p>
                        </div>
                        <form>
                            <div class="form-item">
                                <input type="text" placeholder="Your email" class="text-uppercase" name="email">
                            </div>
                            <div class="form-actions">
                                <input type="submit" value="Subscribe" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END / NEWS LETTER -->
        </div>

    </section>

    <!-- END / CONTACT US -->

</div>
<!-- END / PAGE WRAP -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../assets/analytics.js','ga');

  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');

</script>

</body>


</html>