<!DOCTYPE html>
 <html class="" lang="en"> 

<head>



    <!-- GOOGLE FONT -->

    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>



    

    <title>food</title>


</head>

<body class="home">


<!-- PAGE WRAP -->

<div id="page-wrap">

   <!-- HOME MEDIA -->

    <section id="home-media" class="home-media section">

        <div class="home-fullscreen tb">

            <div class="awe-parallax bg-1"></div>



            <div class="awe-overlay overlay-default"></div>



            <div class="tb-cell text-center">

                <div class="home-content">

                    <div class="ribbon ribbon-1">

                        <h2 class="sm">WELCOME TO</h2>

                    </div>

                    <h1 class="sbig ">Hello food</h1>

                    <div class="awe-hr">

                        <i class="icon awe_certificate"></i>

                    </div>

                    <p class="xmd">Modern Restaurant &amp; food In your House</p>

                </div>

            </div>

        </div>

    </section>

    <!-- END / HOME MEDIA -->

    

    <!-- GOOD FOOD -->

    <section id="good-food" class="good-food section pd">

        <div class="container">

            <div class="good-food-heading text-center">

                <div class="good-food-title style-2">

                    <h6 class="xmd text-uppercase">We believe</h6>

                    <i class="icon awe_quote_left"></i>

                    <h2 class="lg text-capitalize">good food is sin</h2>

                    <i class="icon awe_quote_right"></i>

                </div>

                <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto. Ball tip jowl porchetta tongue strip steak pig. Turkey shankle bacon, swine doner biltong ball tip pork kielbasa tenderloin ham. </p>

                <a href="about.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">About us</a>

            </div>

        </div>



        <div class="divider divider-2"></div>

    </section>

    <!-- END / GOOD FOOD -->



    <!-- TESTIMONIAL -->

    <section id="testimonial" class="testimonial testimonial-1 section">

        <!-- BACKGROUND -->

        <div class="awe-parallax bg-2"></div>

        <!-- END / BACKGROUND -->



        <!-- OVERLAY -->

        <div class="awe-overlay"></div>

        <!-- END / OVERLAY -->



        <div class="container">

            <div class="testimonial-content">

                <div class="icon-head">

                    <i class="icon awe_quote_left"></i>

                </div>



                <blockquote>

                    <p>It’s not about nutrients and calories.</p>

                    <span>It’s about sharing. It’s about honesty.</span>

                    <div class="test-footer text-right">

                        <span class="sm">Robert Smith</span>

                    </div>

                </blockquote>

            </div>

        </div>

    </section>

    <!-- END / TESTIMONIAL -->



    <!-- FASTFOOD -->

    <section id="fastfood" class="fastfood section pd70">

        <div class="container">

            <div class="row">

                <div class="col-md-5">

                    <div class="fastfood-description">

                        <div class="content-heading mt">

                            <h4 class="lg text-uppercase">FASTFOOD OR HEALTH? WE GIVE YOU BOTH!</h4>

                            <hr class="_hr">

                        </div>

                        <div class="text-wrap">

                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>

                        </div>

                        <a href="menu.html" class="awe-btn awe-btn-2 awe-btn-ar text-uppercase">See the menu</a>

                    </div>  

                </div>

                <div class="col-md-6 col-md-offset-1">

                    <div class="fastfood-items">

                        <div class="row">

                            <!-- FASTFOOD ITEM -->

                            <div class="col-xs-6">

                                <div class="fastfood-item">
                             <img src="assets/vag/Vegetarian_Curry.jpeg" alt="">

                                </div>

                            </div>

                            <!-- END / FASTFOOD ITEM -->



                            <!-- FASTFOOD ITEM -->

                            <div class="col-xs-6">

                                <div class="fastfood-item">

                                    <img src="assets/vag/Pure_Veg_Rice_chapati_meal" alt="">

                                </div>

                            </div>

                            <!-- END / FASTFOOD ITEM -->



                            <!-- FASTFOOD ITEM -->

                            <div class="col-xs-6">

                                <div class="fastfood-item">

                                    <img src="assets/vag/Vegetarian_Curry" alt="">

                                </div>

                            </div>

                            <!-- END / FASTFOOD ITEM -->



                            <!-- FASTFOOD ITEM -->

                            <div class="col-xs-6">

                                <div class="fastfood-item">

                                    <img src="assets/vag/Veg-thali.jpg" alt="">

                                </div>

                            </div>

                            <!-- END / FASTFOOD ITEM -->

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- END / FASTFOOD -->



    <!-- SECTION HIGHLIGHT -->

    <section class="section-highlight section">

        <div class="divider divider-2 divider-color"></div>

        <div class="awe-color"></div>

        <div class="container">

            <div class="highlight-content tb">

                <div class="tb-cell">

                    <p>Why don’t find a table and save it now? Find a table and We have discount for you!</p>

                </div>

                <div class="links tb-cell">

                    <div class="reservation-link">

                        <a href="reservation.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">RESERVATION</a>

                    </div>

                    <div class="shop-delivery-link">

                        <a href="shop.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">SHOP DELIVERY</a>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- END / SECTION HIGHLIGHT -->



    <!-- SECTION BLOG -->

    <section id="section-blog" class="section-blog section">

        <div class="divider divider-2"></div>



        <div class="container">

            <div class="row">

                <div class="blog-grid">

                    <div class="grid-sizer"></div>

                    <!-- BLOG POST -->

                    <div class="post post-single w2"> 

                        <div class="post-media">

                            <img src="assets/blog/img-1.jpg" alt="">

                        </div>

                        <div class="post-body">

                            <div class="post-title">

                                <h2 class="text-uppercase"><a href="blog-single.html">AWARD WINNING CHEF</a></h2>

                            </div>

                            <div class="post-content">

                                <p>Macaroon croissant pudding sweet roll. Jelly candy tootsie</p>

                            </div>

                        </div>

                    </div>

                    <!-- END / BLOG POST -->



                    <!-- BLOG POST -->

                    <div class="post post-single">

                        <div class="post-media">

                            <img src="assets/blog/img-2.jpg" alt="">

                        </div>

                        <div class="post-body">

                            <div class="post-title">

                                <h2 class="text-uppercase"><a href="blog-single.html">A MULTI-POST STORY</a></h2>

                            </div>

                        </div>

                    </div>

                    <!-- END / BLOG POST -->



                    <!-- BLOG POST -->

                    <div class="post post-single">

                        <div class="post-media">

                            <img src="assets/vag/Vegetarian_Curry.jpeg" alt="">

                        </div>

                        <div class="post-body">

                            <div class="post-title">

                                <h2 class="text-uppercase"><a href="blog-single.html">HOW TO USE CHOPSTICKS</a></h2>

                            </div>

                        </div>

                    </div>

                    <!-- END / BLOG POST -->



                    <!-- BLOG POST -->

                    <div class="post post-single">

                        <div class="post-media">

                            <img src="assets/blog/img-4.jpg" alt="">

                        </div>

                        <div class="post-body">

                            <div class="post-title">

                                <h2 class="text-uppercase"><a href="blog-single.html">PHASELLUS JUSTO MAURIS, TEMPUS EGET NISL SIT</a></h2>

                            </div>

                        </div>

                    </div>

                    <!-- END / BLOG POST -->



                    <!-- BLOG POST -->

                    <div class="post post-single">

                        <div class="post-media">

                            <img src="assets/blog/img-2.jpg" alt="">

                        </div>

                        <div class="post-body">

                            <div class="post-title">

                                <h2 class="text-uppercase"><a href="blog-single.html">A MULTI-POST STORY</a></h2>

                            </div>

                        </div>



                    </div>

                    <!-- END / BLOG POST -->

                </div>

            </div>
            
        </div>

    </section>

    <!-- END / SECTION BLOG -->


</div>


</body>

</html>