<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
 -->

 <!DOCTYPE html>
 <html class="" lang="en"> 

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  
    
    <title>food</title>
</head>
<body>



<!-- PAGE WRAP -->
<div id="page-wrap">
 <section id="contact" class="contact section">
      <div class="contact-first">
          <div class="section-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-5">
                            <div class="contact-body text-center">
                                <h3 class="lg text-uppercase">Sign Up</h3>
                                <hr class="_hr">
                                
                                
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                              <%= devise_error_messages! %>


                                <div class="form-item form-type-name">
                                        <!--  <%= f.label :email %><br /> -->
                                         <%= f.email_field :email, autofocus: true, :placeholder=>"Your Email Id" %>
                                       </div>
                                     
                                       <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                         <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                       <% end %>
                                      <br>
                                     <div class="form-item form-type-name">
                                       <!--   <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /> -->
                                         <%= f.password_field :current_password, autocomplete: "off", :placeholder=>"Current Password" %>
                                       </div>
                                       <br>
                                      <div class="form-item form-type-name">
                                       <!--   <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br /> -->
                                         <%= f.password_field :password, autocomplete: "off",:placeholder=>"new Password" %>
                                       </div>
                                     <br>
                                       <div class="form-item form-type-name">
                                       <!--   <%= f.label :password_confirmation %><br /> -->
                                         <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder=>"Confirmation Password" %>
                                       </div>
                                     <hr class="_hr">
                                     
                                       <div class="actions">
                                         <%= f.submit "Update", :class=>"awe-btn awe-btn-2 awe-btn-default text-uppercase" %>
                                       </div>
                                     <% end %>
                                     
                                     <h3>Cancel my account</h3>
                                     
                                     <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },method: :delete, :class=>"awe-btn awe-btn-2 awe-btn-default text-uppercase" %></p>
                                     
                                     <%= link_to "Back", :back %>
                                     <hr class="_hr">


                           <!--  <form <form  id="ContactUsCaptchaWebForm" method="post" onsubmit="return ValidateForm(this);">
                                <div class="form-item form-type-name">
                                    <input type="text" placeholder=" First Name" id="FirstName" name="FirstName"  maxlength="60"/>
                                    <input type="text" placeholder=" Last name"  id="LastName" name="LastName" maxlength="60"/>
                                
                                </div>
                                <br>
                                <div class="form-item form-type-name">
                                  <input type="text" placeholder="Mobile No"  id="Mobileno" name="Mobileno" maxlength="10"/>
                                    <input type="text" placeholder="Email Id" id="FromEmailAddress" name="FromEmailAddress" maxlength="60"/>
                                    
                                </div>
                                <br>
                                <div class="form-item form-type-name">
                                    <input id="City" name="City" type="text" maxlength="60" placeholder="City" />
                                    <textarea id="Address" name="Address" type="textarea" maxlength="120" placeholder="Your Address" ></textarea>
                                </div>
                                <br>
                                <div class="form-actions">
                                    <input id="State" name="State" type="text" maxlength="120" placeholder="State"  />
                                    <input id="Zip" name="Zip" type="text" maxlength="30" placeholder="Zip code"/>

                                </div>
                                <br>
                                <div class="form-item form-type-name">
                                    <input type="text" placeholder="Password" id="Password" name="Password" maxlength="20"/>
                                    <input type="text" placeholder="Repeat Password" id="rPassword" name="rPassword" maxlength="20"/>
                                </div>
                                <br>
 -->
                               
                              
                            </form>
                       
                   
                        </div>

                           
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

        
    </section>
    <!-- END / CONTACT US -->
</div>
<!-- END / PAGE WRAP -->


</body>


</html>







