<!-- <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
 -->

 
<!DOCTYPE html>
 <html class="" lang="en"> 

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  
    
    <title>food</title>
</head>
<body>



<!-- PAGE WRAP -->
<div id="page-wrap">
 <section id="contact" class="contact section">
      <div class="contact-first">
        <!--   <div class="section-content"> -->
                    <div class="row">
                        <div class="col-md-6 col-md-offset-5">
                            <div class="contact-body text-center">
                                <h3 class="lg text-uppercase">Sign Up</h3>
                                <hr class="_hr">
                                
                                
                         <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                           <%= devise_error_messages! %>

                                 <div class="form-item form-type-name">
                                  <%= f.email_field :email, autofocus: true, :placeholder=>"Your Email Id"%>
                                  </div>
                                  <br>
                                <div class="form-item form-type-name">
                                   <%= f.password_field :password, autocomplete: "off", :placeholder=>"Password" %>
                                  </div>
                                  <br>
                               <div class="form-item form-type-name">
                                  <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder=>"Repeat Password " %>
                                  </div>
                                   <hr class="_hr">
                                  <div class="actions form-actions">
                                    <%= f.submit "Sign up", :class=>"awe-btn awe-btn-2 awe-btn-default text-uppercase" %>
                                  </div>
                                <% end %>

                                <%= render "devise/shared/links" %>
                           <!--  <form <form  id="ContactUsCaptchaWebForm" method="post" onsubmit="return ValidateForm(this);">
                                <div class="form-item form-type-name">
                                    <input type="text" placeholder=" First Name" id="FirstName" name="FirstName"  maxlength="60"/>
                                    <input type="text" placeholder=" Last name"  id="LastName" name="LastName" maxlength="60"/>
                                
                                </div>
                                <br>
                                <div class="form-item form-type-name">
                                  <input type="text" placeholder="Mobile No"  id="Mobileno" name="Mobileno" maxlength="10"/>
                                    <input type="text" placeholder="Email Id" id="FromEmailAddress" name="FromEmailAddress" maxlength="60"/>
                                    
                                </div>
                                <br>
                                <div class="form-item form-type-name">
                                    <input id="City" name="City" type="text" maxlength="60" placeholder="City" />
                                    <textarea id="Address" name="Address" type="textarea" maxlength="120" placeholder="Your Address" ></textarea>
                                </div>
                                <br>
                                <div class="form-actions">
                                    <input id="State" name="State" type="text" maxlength="120" placeholder="State"  />
                                    <input id="Zip" name="Zip" type="text" maxlength="30" placeholder="Zip code"/>

                                </div>
                                <br>
                                <div class="form-item form-type-name">
                                    <input type="text" placeholder="Password" id="Password" name="Password" maxlength="20"/>
                                    <input type="text" placeholder="Repeat Password" id="rPassword" name="rPassword" maxlength="20"/>
                                </div>
                                <br>
 -->
                               
                              
                            </form>
                       
                   
                        </div>

                           
                        </div>
                    </div>
                </div>
            </div>
           
   <!--      </div> -->

        
    </section>
    <!-- END / CONTACT US -->
</div>
<!-- END / PAGE WRAP -->


</body>


</html>

<br>





