


                         
<span class="blockquote-footer"><%= comment.name %></span>

<a><%= link_to '<i class="fa fa-trash fa-1x"></i>'.html_safe, [comment.product, comment],method: :delete,data: {confirm: 'are you sure?'} %> </a>              


<p class="pull-right"><%= comment.created_at.strftime('%B'" "'%m'" at "'%r')%> Ago</p>


<p><%= comment.body %></p>
