<%= form_for([@product, @product.comments.build]) do |f|%>
<p>
	<%= f.label :Name%>:<br>
	<%= f.text_field :name%>
</p>

<p>
	<%= f.label :comment%>:<br>
	<%= f.text_area :body%>
</p>
<br>
<p>
  <%= f.submit value="Submit", :class=>"btn  " %>
</p>
<%end%>