<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Confirm Your Order <b><%= @userdetil.fname%>&nbsp;<%= @userdetil.lname%></b></h3>
    
    <h2>Thanks for joining and have a great day!.</h2>

     <p>Your Order Reach At This Address Very Soon...</p>
     <p>Order No.:&nbsp;<%= @userdetil.user_id %></p>
     <p>
     	<b>Address:</b>&nbsp;<%= @userdetil.address %>,<br> 
     	<b>City:</b>&nbsp; <%=@userdetil.city %>,<br> 
     	<b>State:</b>&nbsp;<%=@userdetil.state%>,<br> 
     	<b>Zipcode:</b>&nbsp; <%=@userdetil.zipcode%>,<br> 
     	<b>Mobile no:</b>&nbsp;<%=@userdetil.mobileno%>,<br>
        <b>Landline no:</b>&nbsp;<%=@userdetil.landlineno %> 
     </p>

    <p> You Choose payment method :- <b>Cash On Delivery</b> </p>
 


    
                  
  </body></b>
</html>