 <!-- FOOTER -->

    <footer id="footer" class="footer">

        <div class="divider divider-1 divider-color"></div>

        <div class="awe-color"></div>

        <div class="container">

            <div class="copyright text-center">

                © 2014-2015 All Rights Reserved Under Kasturi infotec.

            </div>

        </div>

    </footer>

    <!-- END / FOOTER -->

    