
    <!-- HEADER -->

    <header id="header" class="header header-1">

        <div class="container">

            <!-- LOGO -->

            <div class="logo"><a href="../../index.html"><img src="../../assets/hellofood.png" alt=""></a></div>

            <!-- END / LOGO -->



            <!-- OPEN MENU MOBILE -->

            <div class="open-menu-mobile">

                <span>Toggle menu mobile</span>

            </div>

            <!-- END / OPEN MENU MOBILE -->



            <!-- NAVIGATION -->

            <nav class="navigation text-right" data-menu-type="1200">

                <!-- NAV -->

                <ul class="nav text-uppercase">

                    <li><a href="../../index.html">Index</a></li>
                    <li><a href="../../about.html">About</a></li>
                  <!--   <li><a href="../../menu.html">Menu</a></li> -->
                    <li><a href="../../products">Order Food</a></li>
               <!--      <li><a href="../../userdetils">Add address</a></li> -->
                    <li><a href="../../contact.html">Contact</a></li>
                       <%if user_signed_in?%>
                    <li><a href="../cart">CART</a></li>
                    <%end%>
                 </ul>

                <!-- END / NAV -->



                <!-- MINICART -->
                <%if user_signed_in?%>
                <div class="minicart-wrap">

                    <div class="toggle-minicart active">

                        <span class="text-uppercase">Cart</span>


                    </div>

                    <div class="minicart-body">

                        <h4 class="xsm text-uppercase text-center">Your cart</h4>

                        <ul class="minicart-list">

                            <li>

                                <div class="product-thumb">

                                    <img src="../assets/shop/img-2.jpg" alt="">

                                </div>

                                <div class="product-name">

                                    <a href="#">Name of the Dish ( L )</a>

                                </div>

                                <div class="qty-wrap">

                                    <span class="product-quantity">

                                        <span class="quantity">2</span> serves.

                                    </span>

                                    <span class="amount">$48</span>

                                </div>

                                <div class="product-remove">

                                    <a href="#"><i class="icon awe_close"></i></a>

                                </div>

                            </li>



                            <li>

                                <div class="product-thumb">

                                    <img src="../assets/shop/img-2.jpg" alt="">

                                </div>

                                <div class="product-name">

                                    <a href="#">Name of the Dish ( L )</a>

                                </div>

                                <div class="qty-wrap">

                                    <span class="product-quantity">

                                        <span class="quantity">2</span> serves.

                                    </span>

                                    <span class="amount">$48</span>

                                </div>

                                <div class="product-remove">

                                    <a href="#"><i class="icon awe_close"></i></a>

                                </div>

                            </li>

                        </ul>

                        <div class="minicart-total">

                            Total

                            <span class="amount pull-right">$120</span>

                        </div>



                        <div class="minicart-footer">

                            <a href="checkout.html" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">Check out</a>

                        </div>



                    </div>

                </div>

                <!-- END / MINICART -->
            <%end%>
                

                <!-- SOCIAL -->

                <div class="head-social">

                    <a href="#"><i class="fa fa-twitter"></i></a>

                    <a href="#"><i class="fa fa-pinterest"></i></a>

                    <a href="#"><i class="fa fa-facebook"></i></a>

                </div>

                <!-- END / SOCIAL -->

            </nav>

            <!-- END / NAVIGATION -->
            <p class="navbar-text pull-right">
                <% if user_signed_in? %>
                  Logged in as <strong><%= current_user.email %></strong>.
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btnsl ' %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btnsl '  %>
                <% else %>
                  <%= link_to "Sign up", new_user_registration_path, :class => 'btnsl '  %> |
                  <%= link_to "Login", new_user_session_path, :class => 'btnsl '  %>
                <% end %>

        </div>



    </header>

    <!-- END / HEADER -->

