<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/blog-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:42 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  
    
    <title>food</title>
</head>
<body class="single-post">

<!-- PRELOADER -->
<div class="preloader">
    <div class="inner">
        <div class="item item1"></div>
        <div class="item item2"></div>
        <div class="item item3"></div>
    </div>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
    <header id="header" class="header header-1">
        <div class="container">
            <!-- LOGO -->
            <div class="logo"><a href="index-2.html"><img src="assets/logo.png" alt=""></a></div>
            <!-- END / LOGO -->

            <!-- OPEN MENU MOBILE -->
            <div class="open-menu-mobile">
                <span>Toggle menu mobile</span>
            </div>
            <!-- END / OPEN MENU MOBILE -->

            <!-- NAVIGATION -->
            
            <nav class="navigation text-right" data-menu-type="1200">
                <!-- NAV -->
                <ul class="nav text-uppercase">
                    <li class="menu-item-has-children">
                        <a href="#page-top">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index-onepage.html">Onepage</a></li>
                            <li><a href="index-2.html">Multipage</a></li>
                            <li><a href="index-3.html">Multipage Full</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="reservation.html">Reservation</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li class="menu-item-has-children current-menu-item">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop page</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children current-menu-item">
                                <a href="blog-sidebar.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-sidebar.html">Blog sidebar</a></li>
                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                    <li class="current-menu-item"><a href="blog-single.html">Blog single</a></li>
                                </ul>
                            </li>
                            <li><a href="shortcode.html">Shortcode</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- END / NAV -->

                <!-- MINICART -->
                <div class="minicart-wrap">
                    <div class="toggle-minicart active">
                        <span class="text-uppercase">Cart</span>
                    </div>
                    <div class="minicart-body">
                        <h4 class="xsm text-uppercase text-center">Your cart</h4>
                        <ul class="minicart-list">
                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>

                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="minicart-total">
                            Total
                            <span class="amount pull-right">$120</span>
                        </div>

                        <div class="minicart-footer">
                            <a href="checkout.html" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">Check out</a>
                        </div>

                    </div>
                </div>
                <!-- END / MINICART -->
                
                <!-- SOCIAL -->
                <div class="head-social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- END / SOCIAL -->
            </nav>
            <!-- END / NAVIGATION -->
        </div>

    </header>
    <!-- END / HEADER -->

    <!-- SECTION BLOG -->
    <section class="section-blog section">

        <div class="container">
            <div class="row">
                <!-- BLOG LIST -->
                <div class="col-md-9">
                    <div class="blog-single">
                        <!-- BREADCRUMB -->
                        <ul class="breadcrumb">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Recipes</a></li>
                            <li><span>A simple autumnal bake combining some of our favourite flavours</span></li>
                        </ul>
                        <!-- END / BREADCRUMB -->

                        <!-- POST -->
                        <div class="post post-single">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <img src="assets/blog/img-7.jpg" alt="">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="post-title">
                                    <h3 class="xmd">A simple autumnal bake combining some of our favourite flavours</h3>
                                </div>
                                <div class="meta-info">
                                    <span><i class="icon awe_pie_chart"></i>2serves</span>
                                    <span><i class="icon awe_clock_2"></i>15 mins cooking</span>
                                    <span><i class="icon awe_user"></i>By <a href="#">Anna Molly</a></span>
                                </div>
                                <div class="post-content">

                                    <div class="block-right fr">
                                        <div class="ingredients item">
                                            <div class="item-heading">
                                                <h5>Ingredients</h5>
                                            </div>
                                            <table class="ingre-table">
                                                <tr>
                                                    <td>Squash, peeled and cut into 1-2cm dice</td>
                                                    <td>400g</td>
                                                </tr>
                                                <tr>
                                                    <td>Olive oil</td>
                                                    <td>1 tbsp</td>
                                                </tr>
                                                <tr>
                                                    <td>Spinach</td>
                                                    <td>300g</td>
                                                </tr>
                                                <tr>
                                                    <td>Egg</td>
                                                    <td>1</td>
                                                </tr>
                                                <tr>
                                                    <td>Chopped toasted walnutssea saltfreshly ground black pepper </td>
                                                    <td>40g</td>
                                                </tr>
                                            </table>
                                        </div>

                                        <div class="tips item">
                                            <div class="item-heading">
                                                <h5>Tips</h5>
                                            </div>
                                            <ul class="tips-list">
                                                <li>Mauris tempus mollis velit, cursus pulvinar lectus auctor eget.  Vivamus facilisis imperdiet consectetur.</li>
                                                <li>Quisque eget arcu iaculis, tempus tellus id, semper augue.</li>
                                            </ul>
                                        </div>
                                    </div>

                                    <p><strong>Maecenas eu metus</strong> sit amet nunc <i>rhoncus</i> dictum <mark>color</mark> non <abbr>link</abbr>. Praesent consequat placerat velit <del>nec</del> vehicula. Aliquam !</p>
                                    <h4 class="sm text-uppercase">HOW TO DO</h4>
                                    <p>
                                        Ut vel <del>justo quis lectus</del> elementum ullamcorper volutpat vel libero.
                                        Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. <a href="#">Nulla nunc dui</a>, tristique in semper vel, congue sed ligula. <strong>Nam dolor ligula, faucibus id sodales in, auctor fringilla libero.</strong> Pellentesque pellentesque tempor tellus eget hendrerit. <kbd>Morbi id aliquam ligula.</kbd> Aliquam id dui sem. Proin rhoncus consequat nisl, eu ornare mauris tincidunt vitae. Vestibulum sodales ante a purus volutpat euismod. <code>Proin sodales quam nec ante sollicitudin</code> lacinia. Ut egestas bibendum tempor. Morbi non nibh sit amet ligula blandit ullamcorper in nec risus. Pellentesque fringilla diam faucibus tortor bibendum vulputate. Etiam turpis urna, rhoncus et mattis ut, dapibus eu nunc. Nunc sed aliquet nisi. Nullam ut magna non lacus adipiscing volutpat. Aenean odio mauris, consectetur quis consequat quis, blandit a nunc. Sed orci erat, placerat ac interdum ut, suscipit eu augue. Nunc vitae mi tortor. Ut vel justo quis lectus elementum ullamcorper volutpat vel libero.
                                    </p>
                                    <ol>
                                        <li>Sed <mark>pellentesque</mark> commodo magna, eget tincidunt magna condimentum lobortis. Integer facilisis ipsum sem, sit amet aliquet sem iaculis in. Vivamus at accumsan ante.</li>
                                        <li>Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget <abbr title="">lobortis augue</abbr>, id sollicitudin justo. Aenean sollicitudin elit ut egestas viverra.</li>
                                        <li>Ut sit amet orci ac sapien porta porta. Mauris facilisis sollicitudin pharetra. Phasellus rutrum nisi quam, quis congue nisi vehicula ac.
                                            <ul>
                                                <li>Sed pellentesque commodo magna, eget tincidunt magna condimentum lobortis. Integer facilisis ipsum sem, sit amet aliquet sem iaculis in. Vivamus at accumsan ante.</li>
                                                <li>Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget <abbr title="">lobortis augue</abbr>, id sollicitudin justo. Aenean sollicitudin elit ut egestas viverra.</li>
                                                <li>Ut sit amet orci ac sapien porta porta. Mauris facilisis sollicitudin pharetra. Phasellus rutrum nisi quam, quis congue nisi vehicula ac.
                                                    <ul>
                                                        <li>Sed pellentesque commodo magna, eget tincidunt magna condimentum lobortis. Integer facilisis ipsum sem, sit amet aliquet sem iaculis in. Vivamus at accumsan ante.</li>
                                                        <li>Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget <abbr title="">lobortis augue</abbr>, id sollicitudin justo. Aenean sollicitudin elit ut egestas viverra.</li>
                                                        <li>Ut sit amet orci ac sapien porta porta. Mauris facilisis sollicitudin pharetra. Phasellus rutrum nisi quam, quis congue nisi vehicula ac.</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                    <ul>
                                        <li>Sed pellentesque commodo magna, eget tincidunt magna condimentum lobortis. Integer facilisis ipsum sem, sit amet aliquet sem iaculis in. Vivamus at accumsan ante.</li>
                                        <li>Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget <abbr title="">lobortis augue</abbr>, id sollicitudin justo. Aenean sollicitudin elit ut egestas viverra.</li>
                                        <li><strong>Ut sit amet</strong> orci ac sapien porta porta. <mark>Mauris facilisis</mark> sollicitudin pharetra. Phasellus rutrum nisi quam, quis congue nisi vehicula ac.
                                            <ul>
                                                <li><b>Sed pellentesque commodo</b> magna, eget tincidunt magna condimentum lobortis. Integer facilisis ipsum sem, sit amet aliquet sem iaculis in. Vivamus at accumsan ante.</li>
                                                <li>Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget <abbr title="">lobortis augue</abbr>, id sollicitudin justo. Aenean sollicitudin elit ut egestas viverra.</li>
                                                <li>Ut sit amet orci ac sapien porta porta. Mauris facilisis sollicitudin pharetra. Phasellus rutrum nisi quam, quis congue nisi vehicula ac.</li>
                                            </ul>
                                            <ol>
                                                <li><b>Sed pellentesque commodo</b> magna, eget tincidunt magna condimentum lobortis. Integer facilisis ipsum sem, sit amet aliquet sem iaculis in. Vivamus at accumsan ante.</li>
                                                <li>Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget <abbr title="">lobortis augue</abbr>, id sollicitudin justo. Aenean sollicitudin elit ut egestas viverra.</li>
                                                <li>Ut sit amet orci ac sapien porta porta. Mauris facilisis sollicitudin pharetra. Phasellus rutrum nisi quam, quis congue nisi vehicula ac.</li>
                                            </ol>
                                        </li>
                                    </ul>

                                    <p>Maecenas eu metus sit amet nunc rhoncus dictum vitae non felis. Praesent consequat placerat velit nec vehicula. Aliquam nec varius nisi. In sollicitudin ac velit ac sodales. <strong>Nulla interdum</strong> lacus quis placerat semper. Suspendisse at sollicitudin lacus.</p>

                                    <div class="block-image">
                                        <div class="image-wrap fl">
                                            <img src="assets/blog/img-2.jpg" alt="">
                                        </div>
                                        <p>Maecenas eu metus sit amet nunc rhoncus dictum vitae non felis. Praesent consequat placerat velit nec vehicula.Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget lobortis augue, id sollicitudin justo.<br><br>
                                        Aenean sollicitudin elit ut egestas viverra.  Aliquam nec varius nisi. In sollicitudin ac velit ac sodales. Nulla interdum lacus quis placerat semper. Suspendisse at sollicitudin lacus.Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget lobortis augue, id sollicitudin justo. Aenean sollicitudin elit ut egestas viverra.</p>
                                    </div>

                                    <blockquote class="blockquote q-left">
                                        <p>Maecenas eu metus sit amet nunc rhoncus dictum vitae non felis. Praesent consequat placerat velit nec vehicula. Aliquam nec varius nisi. In sollicitudin ac velit ac sodales.</p>
                                        <span class="blockquote-footer">Anonymous</span>
                                    </blockquote>

                                    <div class="image-wrap">
                                        <img src="assets/background/img-5.jpg" alt="">
                                    </div>

                                    <div class="block-image">
                                        <div class="image-wrap fr">
                                            <img src="assets/blog/img-3.jpg" alt="">
                                        </div>
                                        <p>Maecenas eu metus sit amet nunc rhoncus dictum vitae non felis. Praesent consequat placerat velit nec vehicula.Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget lobortis augue, id sollicitudin justo. <br><br>
                                        Aenean sollicitudin elit ut egestas viverra.  Aliquam nec varius nisi. In sollicitudin ac velit ac sodales. Nulla interdum lacus quis placerat semper. Suspendisse at sollicitudin lacus.Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget lobortis augue, id sollicitudin justo. Aenean sollicitudin elit ut egestas viverra. </p>
                                    </div>

                                    
                                </div>
                            </div>

                            <!-- SHARE AND TAG -->
                            <div class="share-tags">
                                <div class="share-box">
                                    <h5 class="sm">Share</h5>
                                    <div class="share">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="tag-box fr">
                                    <h5 class="sm">Tag</h5>
                                    <div class="tag">
                                        <a href="#">Recipe</a>
                                        <a href="#">Recipe</a>
                                        <a href="#">Recipe</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END / SHARE AND TAG -->

                            <div class="about-author">
                                <div class="image-thumb fl">
                                    <img src="assets/shop/img-4.jpg" alt="">
                                </div>
                                <div class="author-info">
                                    <div class="author-name">
                                        <h4 class="xmd text-capitalize">Maecenas Eu Metus</h4>
                                    </div>
                                    <div class="author-content">
                                        <p>Maecenas eu metus sit amet nunc rhoncus dictum vitae non felis. Praesent consequat placerat velit nec vehicula. Aliquam nec varius nisi. In sollicitudin ac velit ac sodales. Nulla interdum lacus quis placerat semper. Suspendisse at sollicitudin lacus.</p>
                                    </div>
                                </div>
                                <div class="author-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>

                            <!-- COMMENTS -->
                            <div id="comments">
                                <div class="comments-inner-wrap">
                                    <h3 id="comments-title" class="xmd text-capitalize">4 Comments</h3>
                                    <ul class="commentlist">
                                        <li class="comment">
                                            <div class="comment-box">
                                                <div class="comment-author">
                                                    <a href="#"><img src="assets/blog/img-6.jpg" alt=""></a>
                                                </div>
                                                <div class="comment-body">
                                                    <cite class="fn"><a href="#">David</a></cite>
                                                    <p>Maecenas eu metus sit amet nunc rhoncus dictum vitae non felis.</p>
                                                    <div class="comment-meta">
                                                        <span>sep 18,2014 at 9:00</span>
                                                    </div>
                                                </div>
                                                <div class="comment-abs">
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                    <a href="#" class="comment-edit-link">Edit</a>
                                                    <a href="#">Approve</a>
                                                    <a href="#">Delete</a>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="comment">
                                            <div class="comment-box">
                                                <div class="comment-author">
                                                    <a href="#"><img src="assets/blog/img-8.jpg" alt=""></a>
                                                </div>
                                                <div class="comment-body">
                                                    <cite class="fn"><a href="#">Karrot</a></cite>
                                                    <p>Praesent consequat placerat velit nec vehicula. Aliquam nec varius nisi. In sollicitudin ac velit ac sodales. Nulla interdum lacus quis placerat semper. Suspendisse at sollicitudin lacus.</p>
                                                    <div class="comment-meta">
                                                        <span>sep 18,2014 at 9:00</span>
                                                    </div>
                                                </div>
                                                <div class="comment-abs">
                                                    <a href="#" class="comment-edit-link">Edit</a>
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                </div>
                                            </div>
                                            <ul class="children">
                                                <li class="comment">
                                                    <div class="comment-box">
                                                        <div class="comment-author">
                                                            <a href="#"><img src="assets/blog/img-6.jpg" alt=""></a>
                                                        </div>
                                                        <div class="comment-body">
                                                            <cite class="fn"><a href="#">Tanuki</a></cite>
                                                            <p>Maecenas eu metus sit amet nunc rhoncus dictum vitae non felis. Praesent consequat placerat velit nec vehicula. Aliquam nec varius nisi. In sollicitudin ac velit ac sodales. Nulla interdum lacus quis placerat semper. Suspendisse at sollicitudin lacus.</p>
                                                            <div class="comment-meta">
                                                                <span>sep 18,2014 at 9:00</span>
                                                            </div>
                                                        </div>
                                                        <div class="comment-abs">
                                                            <a href="#" class="comment-edit-link">Edit</a>
                                                            <a href="#" class="comment-reply-link">Reply</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- END / COMMENTS -->

                            <!-- LEAVER YOUR COMMENT -->
                            <div id="respond">
                                <div class="reply-title">
                                    <h3 class="xmd text-capitalize">Leaver your comment</h3>
                                </div>
                                <!-- COMMENT FORM -->
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-item form-textarea">
                                                <textarea></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-item form-name">
                                                <input type="text" placeholder="Your Name">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-item form-email">
                                                <input type="text" placeholder="Your Email">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-actions">
                                                <input type="submit" value="Post this comment" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END / COMMENT FORM -->
                                
                            </div>
                            <!-- END / LEAVER YOUR COMMENT -->
                        </div>
                        <!-- END / POST -->
                        
                    </div>

                </div>
                <!-- END / BLOG LIST -->

                <!-- SIDEBAR -->
                <div class="col-md-3">
                    <aside class="sidebar">
                        <!-- WIDGET SEARCH -->
                        <div class="widget widget_search">
                            <h4 class="sm text-uppercase">Search</h4>
                            <form>
                                <input type="text" name="search" placeholder="Type keyword">
                            </form>
                        </div>
                        <!-- END / WIDGET SEARCH -->

                        <!-- WIDGET RECENT POST -->
                        <div class="widget widget_recent_entries">
                            <h4 class="sm text-uppercase">Recent posts</h4>
                            <ul>
                                <li>
                                    <a href="#">Aliquam nibh sapien</a>
                                </li>
                                <li>
                                    <a href="#">Nunc pellentesque dolor</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END / WIDGET RECENT POST -->

                        <!-- WIDGET EVENTS -->
                        <div class="widget widget_events">
                            <h4 class="sm text-uppercase">Events</h4>
                            <ul class="events">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <div class="list-content">
                                        <a href="#">Fair Trade & Organic</a>
                                        <ul class="meta">
                                            <li>20.October.2014</li>
                                            <li>16:00</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <div class="list-content">
                                        <a href="#">Fair Trade & Organic</a>
                                        <ul class="meta">
                                            <li>20.October.2014</li>
                                            <li>16:00</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <div class="list-content">
                                        <a href="#">Fair Trade & Organic</a>
                                        <ul class="meta">
                                            <li>20.October.2014</li>
                                            <li>16:00</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <div class="list-content">
                                        <a href="#">Fair Trade & Organic</a>
                                        <ul class="meta">
                                            <li>20.October.2014</li>
                                            <li>16:00</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END / WIDGET EVENTS -->

                        <!-- WIDGET INSTAGRAM -->
                        <div class="widget widget_instagram">
                            <h4 class="sm text-uppercase">Instagram</h4>
                            <div class="instagram">
                                <a href="#"><img src="assets/blog/img-5.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-9.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-10.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-11.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-10.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-11.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-5.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-9.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-11.jpg" alt=""></a>
                            </div>
                        </div>
                        <!-- END / WIDGET INSTAGRAM -->

                        <!-- LATEST COMMENTS -->
                        <div class="widget widget_latest_comments">
                            <h4 class="sm text-uppercase">Latest comments</h4>
                            <ul>
                                <li>
                                    <div class="image-wrap">
                                        <img src="assets/blog/img-6.jpg" alt="">
                                    </div>
                                    <div class="comment-info">
                                        <span class="author">Danzo</span>
                                        <a href="#">I think you should add more rosemary or other herb</a>
                                        <div class="meta">
                                            <span>sep 18,2014 at 9:00</span>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="image-wrap">
                                        <img src="assets/blog/img-6.jpg" alt="">
                                    </div>
                                    <div class="comment-info">
                                        <span class="author">Danzo</span>
                                        <a href="#">I think you should add more rosemary or other herb</a>
                                        <div class="meta">
                                            <span>sep 18,2014 at 9:00</span>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="image-wrap">
                                        <img src="assets/blog/img-6.jpg" alt="">
                                    </div>
                                    <div class="comment-info">
                                        <span class="author">Danzo</span>
                                        <a href="#">I think you should add more rosemary or other herb</a>
                                        <div class="meta">
                                            <span>sep 18,2014 at 9:00</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END / LATEST COMMENTS -->


                        <!-- WIDGET CATEGORIES -->
                        <div class="widget widget_categories">
                            <h4 class="sm text-uppercase">Categories</h4>
                            <ul>
                                <li><a href="#">Cras condimentum</a></li>
                                <li><a href="#">Nibh et pellentesque</a></li>
                                <li><a href="#">Leo nibh gravida velit</a></li>
                                <li><a href="#">Tortor augue a eros</a></li>
                                <li><a href="#">Libero</a></li>
                            </ul>
                        </div>
                        <!-- END / WIDGET CATEGORIES -->

                        <!-- WIDGET ARCHIVE -->
                        <div class="widget widget_archive">
                            <h4 class="sm text-uppercase">Archives</h4>
                            <ul>
                                <li><a href="#">June 2013</a></li>
                                <li><a href="#">May 2013</a></li>
                                <li><a href="#">April 2013</a></li>
                            </ul>
                        </div>
                        <!-- END / WIDGET ARCHIVE -->

                        <!-- WIDGET TAG CLOUD -->
                        <div class="widget widget_tag_cloud">
                            <h4 class="sm text-uppercase">Tag cloud</h4>
                            <div class="tagcloud">
                                <a href="#">Recipe</a>
                                <a href="#">Chicken</a>
                                <a href="#">Fish</a>
                                <a href="#">Wordpress</a>
                                <a href="#">Photoshop</a>
                                <a href="#">JQuery</a>
                            </div>
                        </div>
                        <!-- END / WIDGET TAG CLOUD -->


                    </aside>
                </div>
                <!-- END / SIDEBAR -->

            </div>

        </div>

    </section>
    <!-- END / SECTION BLOG -->


    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                © 2014 Ambrosia Restaurant
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->
    

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- GOOGLE MAP -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');

</script>


</body>

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/blog-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:47 GMT -->
</html>