<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/blog-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:35 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    
    <title>food</title>
</head>
<body class="blog">

<!-- PRELOADER -->
<div class="preloader">
    <div class="inner">
        <div class="item item1"></div>
        <div class="item item2"></div>
        <div class="item item3"></div>
    </div>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
    <header id="header" class="header header-1">
        <div class="container">
            <!-- LOGO -->
            <div class="logo"><a href="index-2.html"><img src="assets/logo.png" alt=""></a></div>
            <!-- END / LOGO -->

            <!-- OPEN MENU MOBILE -->
            <div class="open-menu-mobile">
                <span>Toggle menu mobile</span>
            </div>
            <!-- END / OPEN MENU MOBILE -->

            <!-- NAVIGATION -->
            
            <nav class="navigation text-right" data-menu-type="1200">
                <!-- NAV -->
                <ul class="nav text-uppercase">
                    <li class="menu-item-has-children">
                        <a href="#page-top">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index-onepage.html">Onepage</a></li>
                            <li><a href="index-2.html">Multipage</a></li>
                            <li><a href="index-3.html">Multipage Full</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="reservation.html">Reservation</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li class="menu-item-has-children current-menu-item">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop page</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children current-menu-item">
                                <a href="blog-sidebar.html">Blog</a>
                                <ul class="sub-menu">
                                    <li class="current-menu-item"><a href="blog-sidebar.html">Blog sidebar</a></li>
                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                    <li><a href="blog-single.html">Blog single</a></li>
                                </ul>
                            </li>
                            <li><a href="shortcode.html">Shortcode</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- END / NAV -->

                <!-- MINICART -->
                <div class="minicart-wrap">
                    <div class="toggle-minicart active">
                        <span class="text-uppercase">Cart</span>
                    </div>
                    <div class="minicart-body">
                        <h4 class="xsm text-uppercase text-center">Your cart</h4>
                        <ul class="minicart-list">
                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>

                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="minicart-total">
                            Total
                            <span class="amount pull-right">$120</span>
                        </div>

                        <div class="minicart-footer">
                            <a href="checkout.html" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">Check out</a>
                        </div>

                    </div>
                </div>
                <!-- END / MINICART -->
                
                <!-- SOCIAL -->
                <div class="head-social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- END / SOCIAL -->
            </nav>
            <!-- END / NAVIGATION -->
        </div>

    </header>
    <!-- END / HEADER -->

    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-2"></div>
        <div class="awe-title awe-title-3">
            <h3 class="lg text-uppercase">Blog</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- SECTION BLOG -->
    <section class="section-blog section">

        <div class="container">
            <div class="row">
                <!-- BLOG LIST -->
                <div class="col-md-9">
                    <div class="blog-list">
                        <!-- POST -->
                        <div class="post post-single">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <img src="assets/blog/img-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="tags">
                                    <div class="tagcloud">
                                        <a href="#">Recipe</a>
                                        <a href="#">Chicken</a>
                                        <a href="#">Fish</a>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <h3 class="xmd"><a href="blog-single.html">Lettuce - Veg on the Ledge</a></h3>
                                </div>
                                <div class="post-content">
                                    <p>Feel free to replace the plain flour with buckwheat flour – the dumplings will be a little chewier, but in a good way.</p>
                                </div>
                                <div class="post-footer">
                                    <a href="blog-single.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->

                        <!-- POST -->
                        <div class="post post-single">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <img src="assets/blog/img-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="tags">
                                    <div class="tagcloud">
                                        <a href="#">Recipe</a>
                                        <a href="#">Chicken</a>
                                        <a href="#">Fish</a>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <h3 class="xmd"><a href="blog-single.html">A simple autumnal bake combining some of our favourite flavours</a></h3>
                                </div>
                                <div class="post-footer">
                                    <a href="blog-single.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->

                        <!-- POST -->
                        <div class="post post-single">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <img src="assets/blog/img-4.jpg" alt="">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="tags">
                                    <div class="tagcloud">
                                        <a href="#">Recipe</a>
                                        <a href="#">Chicken</a>
                                        <a href="#">Fish</a>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <h3 class="xmd"><a href="blog-single.html">Lettuce - Veg on the Ledge</a></h3>
                                </div>
                                <div class="post-content">
                                    <p>Feel free to replace the plain flour with buckwheat flour – the dumplings will be a little chewier, but in a good way.</p>
                                </div>
                                <div class="post-footer">
                                    <a href="blog-single.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->

                        <!-- POST -->
                        <div class="post post-single">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <img src="assets/blog/img-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="tags">
                                    <div class="tagcloud">
                                        <a href="#">Recipe</a>
                                        <a href="#">Chicken</a>
                                        <a href="#">Fish</a>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <h3 class="xmd"><a href="blog-single.html">A simple autumnal bake combining some of our favourite flavours</a></h3>
                                </div>
                                <div class="post-footer">
                                    <a href="blog-single.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->

                        <!-- POST -->
                        <div class="post post-single">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <img src="assets/blog/img-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="tags">
                                    <div class="tagcloud">
                                        <a href="#">Recipe</a>
                                        <a href="#">Chicken</a>
                                        <a href="#">Fish</a>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <h3 class="xmd"><a href="blog-single.html">Lettuce - Veg on the Ledge</a></h3>
                                </div>
                                <div class="post-content">
                                    <p>Feel free to replace the plain flour with buckwheat flour – the dumplings will be a little chewier, but in a good way.</p>
                                </div>
                                <div class="post-footer">
                                    <a href="blog-single.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->

                        <!-- POST -->
                        <div class="post post-single">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <img src="assets/blog/img-4.jpg" alt="">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="tags">
                                    <div class="tagcloud">
                                        <a href="#">Recipe</a>
                                        <a href="#">Chicken</a>
                                        <a href="#">Fish</a>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <h3 class="xmd"><a href="blog-single.html">A simple autumnal bake combining some of our favourite flavours</a></h3>
                                </div>
                                <div class="post-footer">
                                    <a href="blog-single.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->

                        <!-- POST -->
                        <div class="post post-single">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <img src="assets/blog/img-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="tags">
                                    <div class="tagcloud">
                                        <a href="#">Recipe</a>
                                        <a href="#">Chicken</a>
                                        <a href="#">Fish</a>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <h3 class="xmd"><a href="blog-single.html">Lettuce - Veg on the Ledge</a></h3>
                                </div>
                                <div class="post-content">
                                    <p>Feel free to replace the plain flour with buckwheat flour – the dumplings will be a little chewier, but in a good way.</p>
                                </div>
                                <div class="post-footer">
                                    <a href="blog-single.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->

                        <!-- POST -->
                        <div class="post post-single">
                            <div class="post-media">
                                <div class="image-wrap">
                                    <img src="assets/blog/img-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="post-body">
                                <div class="tags">
                                    <div class="tagcloud">
                                        <a href="#">Recipe</a>
                                        <a href="#">Chicken</a>
                                        <a href="#">Fish</a>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <h3 class="xmd"><a href="blog-single.html">A simple autumnal bake combining some of our favourite flavours</a></h3>
                                </div>
                                <div class="post-footer">
                                    <a href="blog-single.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">Read</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / POST -->
                    </div>

                    <div class="pagination">
                        <span class="pagination-prev"><i class="fa fa-angle-left"></i></span>
                        <span class="current">1</span>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#" class="pagination-next"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- END / BLOG LIST -->

                <!-- SIDEBAR -->
                <div class="col-md-3">
                    <aside class="sidebar">
                        <!-- WIDGET SEARCH -->
                        <div class="widget widget_search">
                            <h4 class="sm text-uppercase">Search</h4>
                            <form>
                                <input type="text" name="search" placeholder="Type keyword">
                            </form>
                        </div>
                        <!-- END / WIDGET SEARCH -->

                        <!-- WIDGET RECENT POST -->
                        <div class="widget widget_recent_entries">
                            <h4 class="sm text-uppercase">Recent posts</h4>
                            <ul>
                                <li>
                                    <a href="#">Aliquam nibh sapien</a>
                                </li>
                                <li>
                                    <a href="#">Nunc pellentesque dolor</a>
                                </li>
                            </ul>
                        </div>
                        <!-- END / WIDGET RECENT POST -->

                        <!-- WIDGET EVENTS -->
                        <div class="widget widget_events">
                            <h4 class="sm text-uppercase">Events</h4>
                            <ul class="events">
                                <li>
                                    <i class="fa fa-star"></i>
                                    <div class="list-content">
                                        <a href="#">Fair Trade & Organic</a>
                                        <ul class="meta">
                                            <li>20.October.2014</li>
                                            <li>16:00</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <div class="list-content">
                                        <a href="#">Fair Trade & Organic</a>
                                        <ul class="meta">
                                            <li>20.October.2014</li>
                                            <li>16:00</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <div class="list-content">
                                        <a href="#">Fair Trade & Organic</a>
                                        <ul class="meta">
                                            <li>20.October.2014</li>
                                            <li>16:00</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <div class="list-content">
                                        <a href="#">Fair Trade & Organic</a>
                                        <ul class="meta">
                                            <li>20.October.2014</li>
                                            <li>16:00</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END / WIDGET EVENTS -->

                        <!-- WIDGET INSTAGRAM -->
                        <div class="widget widget_instagram">
                            <h4 class="sm text-uppercase">Instagram</h4>
                            <div class="instagram">
                                <a href="#"><img src="assets/blog/img-5.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-9.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-10.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-11.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-10.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-11.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-9.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-11.jpg" alt=""></a>
                                <a href="#"><img src="assets/blog/img-9.jpg" alt=""></a>
                            </div>
                        </div>
                        <!-- END / WIDGET INSTAGRAM -->

                        <!-- LATEST COMMENTS -->
                        <div class="widget widget_latest_comments">
                            <h4 class="sm text-uppercase">Latest comments</h4>
                            <ul>
                                <li>
                                    <div class="image-wrap">
                                        <img src="assets/blog/img-6.jpg" alt="">
                                    </div>
                                    <div class="comment-info">
                                        <span class="author">Danzo</span>
                                        <a href="#">I think you should add more rosemary or other herb</a>
                                        <div class="meta">
                                            <span>sep 18,2014 at 9:00</span>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="image-wrap">
                                        <img src="assets/blog/img-6.jpg" alt="">
                                    </div>
                                    <div class="comment-info">
                                        <span class="author">Danzo</span>
                                        <a href="#">I think you should add more rosemary or other herb</a>
                                        <div class="meta">
                                            <span>sep 18,2014 at 9:00</span>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="image-wrap">
                                        <img src="assets/blog/img-6.jpg" alt="">
                                    </div>
                                    <div class="comment-info">
                                        <span class="author">Danzo</span>
                                        <a href="#">I think you should add more rosemary or other herb</a>
                                        <div class="meta">
                                            <span>sep 18,2014 at 9:00</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END / LATEST COMMENTS -->


                        <!-- WIDGET CATEGORIES -->
                        <div class="widget widget_categories">
                            <h4 class="sm text-uppercase">Categories</h4>
                            <ul>
                                <li><a href="#">Cras condimentum</a></li>
                                <li><a href="#">Nibh et pellentesque</a></li>
                                <li><a href="#">Leo nibh gravida velit</a></li>
                                <li><a href="#">Tortor augue a eros</a></li>
                                <li><a href="#">Libero</a></li>
                            </ul>
                        </div>
                        <!-- END / WIDGET CATEGORIES -->

                        <!-- WIDGET ARCHIVE -->
                        <div class="widget widget_archive">
                            <h4 class="sm text-uppercase">Archives</h4>
                            <ul>
                                <li><a href="#">June 2013</a></li>
                                <li><a href="#">May 2013</a></li>
                                <li><a href="#">April 2013</a></li>
                            </ul>
                        </div>
                        <!-- END / WIDGET ARCHIVE -->

                        <!-- WIDGET TAG CLOUD -->
                        <div class="widget widget_tag_cloud">
                            <h4 class="sm text-uppercase">Tag cloud</h4>
                            <div class="tagcloud">
                                <a href="#">Recipe</a>
                                <a href="#">Chicken</a>
                                <a href="#">Fish</a>
                                <a href="#">Recipe</a>
                                <a href="#">Chicken</a>
                                <a href="#">Fish</a>
                            </div>
                        </div>
                        <!-- END / WIDGET TAG CLOUD -->


                    </aside>
                </div>
                <!-- END / SIDEBAR -->

            </div>

        </div>

    </section>
    <!-- END / SECTION BLOG -->


    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                © 2014 Ambrosia Restaurant
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->
    

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- GOOGLE MAP -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');

</script>


</body>

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/blog-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:40 GMT -->
</html>