<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:29 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    
    
    <title>food</title>
</head>
<body>



<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
    <header id="header" class="header header-1">
        <div class="container">
            <!-- LOGO -->
            <div class="logo"><a href="index-2.html"><img src="assets/logo.png" alt=""></a></div>
            <!-- END / LOGO -->

            <!-- OPEN MENU MOBILE -->
            <div class="open-menu-mobile">
                <span>Toggle menu mobile</span>
            </div>
            <!-- END / OPEN MENU MOBILE -->

            <!-- NAVIGATION -->
            
            <nav class="navigation text-right" data-menu-type="1200">
                <!-- NAV -->
                <ul class="nav text-uppercase">
                    <li class="menu-item-has-children">
                        <a href="#page-top">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index-onepage.html">Onepage</a></li>
                            <li><a href="index-2.html">Multipage</a></li>
                            <li><a href="index-3.html">Multipage Full</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="reservation.html">Reservation</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li class="menu-item-has-children current-menu-item">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children current-menu-item">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop page</a></li>
                                    <li class="current-menu-item"><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog-sidebar.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-sidebar.html">Blog sidebar</a></li>
                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                    <li><a href="blog-single.html">Blog single</a></li>
                                </ul>
                            </li>
                            <li><a href="shortcode.html">Shortcode</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- END / NAV -->

                <!-- MINICART -->
                <div class="minicart-wrap">
                    <div class="toggle-minicart active">
                        <span class="text-uppercase">Cart</span>
                    </div>
                    <div class="minicart-body">
                        <h4 class="xsm text-uppercase text-center">Your cart</h4>
                        <ul class="minicart-list">
                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>

                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="minicart-total">
                            Total
                            <span class="amount pull-right">$120</span>
                        </div>

                        <div class="minicart-footer">
                            <a href="checkout.html" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">Check out</a>
                        </div>

                    </div>
                </div>
                <!-- END / MINICART -->
                
                <!-- SOCIAL -->
                <div class="head-social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- END / SOCIAL -->
            </nav>
            <!-- END / NAVIGATION -->
        </div>

    </header>
    <!-- END / HEADER -->

    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-4"></div>
        <div class="awe-title awe-title-3">
            <h3 class="lg text-uppercase">Cart</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- SHOP PAGE -->
    <section id="shop-page" class="shop-page section">
        <div class="container">
            <table class="shop-table shop-cart">
                <thead>
                    <tr>
                        <th class="product-remove"></th>
                        <th class="product-name">Product</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- CART ITEM -->
                    <tr class="cart-item">
                        <td class="product-remove">
                            <a href="#" title="remove"><i class="icon awe_close"></i></a>
                        </td>
                        <td class="product-name">
                            <div class="product-thumbnail">
                                <a href="#"><img src="assets/shop/img-3.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="#">Cereal Strawbery & Milk (L)</a>
                                <span>$12 per serve</span>
                            </div>
                        </td>
                        <td class="product-quantity">
                            <div class="quantity">
                                <input type="button" value="-" class="minus">
                                <input type="number" value="1" class="qty">
                                <input type="button" value="+" class="plus">
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="amount">$48</span>
                        </td>
                    </tr>
                    <!-- END / CART ITEM -->

                    <!-- CART ITEM -->
                    <tr class="cart-item">
                        <td class="product-remove">
                            <a href="#" title="remove"><i class="icon awe_close"></i></a>
                        </td>
                        <td class="product-name">
                            <div class="product-thumbnail">
                                <a href="#"><img src="assets/shop/img-4.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="#">Cereal Strawbery & Milk (L)</a>
                                <span>$12 per serve</span>
                            </div>
                        </td>
                        <td class="product-quantity">
                            <div class="quantity">
                                <input type="button" value="-" class="minus">
                                <input type="number" value="1" class="qty">
                                <input type="button" value="+" class="plus">
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="amount">$48</span>
                        </td>
                    </tr>
                    <!-- END / CART ITEM -->

                    <!-- CART ITEM -->
                    <tr class="cart-item">
                        <td class="product-remove">
                            <a href="#" title="remove"><i class="icon awe_close"></i></a>
                        </td>
                        <td class="product-name">
                            <div class="product-thumbnail">
                                <a href="#"><img src="assets/shop/img-5.jpg" alt=""></a>
                            </div>
                            <div class="product-info">
                                <a href="#">Cereal Strawbery & Milk (L)</a>
                                <span>$12 per serve</span>
                            </div>
                        </td>
                        <td class="product-quantity">
                            <div class="quantity">
                                <input type="button" value="-" class="minus">
                                <input type="number" value="1" class="qty">
                                <input type="button" value="+" class="plus">
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="amount">$48</span>
                        </td>
                    </tr>
                    <!-- END / CART ITEM -->
                </tbody>
            </table>
            <div class="cart-footer">
                <div class="coupon-code">
                    <label for="coupon">Coupon Code</label>
                    <input type="text" id="coupon">
                </div>
                <div class="total">
                    <span>Total Order:</span>
                    <span class="amount">$120</span>
                </div>
            </div>
            <div class="cart-submit text-center">
                <div class="form-actions">
                    <input type="submit" value="START CHECKOUT" class="awe-btn awe-btn-3 awe-btn-default text-uppercase">
                </div>
            </div>
        </div>
    </section>
    <!-- END / SHOP PAGE -->


    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                © 2014 Ambrosia Restaurant
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->
    

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- GOOGLE MAP -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');

</script>


</body>

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:35 GMT -->
</html>