<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:35 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>


    <title>food</title>
</head>
<body>

<!-- PRELOADER -->
<div class="preloader">
    <div class="inner">
        <div class="item item1"></div>
        <div class="item item2"></div>
        <div class="item item3"></div>
    </div>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
    <header id="header" class="header header-1">
        <div class="container">
            <!-- LOGO -->
            <div class="logo"><a href="index-2.html"><img src="assets/logo.png" alt=""></a></div>
            <!-- END / LOGO -->

            <!-- OPEN MENU MOBILE -->
            <div class="open-menu-mobile">
                <span>Toggle menu mobile</span>
            </div>
            <!-- END / OPEN MENU MOBILE -->

            <!-- NAVIGATION -->
            <nav class="navigation text-right" data-menu-type="1200">
                <!-- NAV -->
                <ul class="nav text-uppercase">
                    <li class="menu-item-has-children">
                        <a href="#page-top">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index-onepage.html">Onepage</a></li>
                            <li><a href="index-2.html">Multipage</a></li>
                            <li><a href="index-3.html">Multipage Full</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="reservation.html">Reservation</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li class="menu-item-has-children current-menu-item">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children current-menu-item">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop page</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li class="current-menu-item"><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog-sidebar.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-sidebar.html">Blog sidebar</a></li>
                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                    <li><a href="blog-single.html">Blog single</a></li>
                                </ul>
                            </li>
                            <li><a href="shortcode.html">Shortcode</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- END / NAV -->

                <!-- MINICART -->
                <div class="minicart-wrap">
                    <div class="toggle-minicart active">
                        <span class="text-uppercase">Cart</span>
                    </div>
                    <div class="minicart-body">
                        <h4 class="xsm text-uppercase text-center">Your cart</h4>
                        <ul class="minicart-list">
                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>

                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="minicart-total">
                            Total
                            <span class="amount pull-right">$120</span>
                        </div>

                        <div class="minicart-footer">
                            <a href="checkout.html" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">Check out</a>
                        </div>

                    </div>
                </div>
                <!-- END / MINICART -->
                
                <!-- SOCIAL -->
                <div class="head-social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- END / SOCIAL -->
            </nav>
            <!-- END / NAVIGATION -->
        </div>

    </header>
    <!-- END / HEADER -->

    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-4"></div>
        <div class="awe-title awe-title-3">
            <h3 class="lg text-uppercase">Checkout</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- SHOP PAGE -->
    <section id="shop-page" class="shop-page section">
        <div class="container">
            <div class="row">
                <div class="checkout">
                    <!-- YOUR ORDER -->
                    <div class="col-md-3">
                        <div class="your-order">
                            <h4 class="xmd text-capitalize">Your order</h4>
                            <ul class="list-product">
                                <li>
                                    <div class="product-image">
                                        <img src="assets/shop/img-2.jpg" alt="">
                                    </div>
                                    <div class="product-name">
                                        <a href="#">Name of the Dish ( L )</a>
                                    </div>
                                    <div class="qty-wrap">
                                        <span class="product-quantity">
                                            <span class="quantity">2</span> serves.
                                        </span>
                                        <span class="amount">$48</span>
                                    </div>
                                    <div class="product-remove">
                                        <a href="#"><i class="icon awe_close"></i></a>
                                    </div>
                                </li>
                            
                                <li>
                                    <div class="product-image">
                                        <img src="assets/shop/img-2.jpg" alt="">
                                    </div>
                                    <div class="product-name">
                                        <a href="#">Name of the Dish ( L )</a>
                                    </div>
                                    <div class="qty-wrap">
                                        <span class="product-quantity">
                                            <span class="quantity">2</span> serves.
                                        </span>
                                        <span class="amount">$48</span>
                                    </div>
                                    <div class="product-remove">
                                        <a href="#"><i class="icon awe_close"></i></a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-price">
                                <li class="total">
                                    Total
                                    <span class="amount pull-right">$120</span>
                                </li>
                                <li class="coupon">
                                    Coupon
                                    <span class="amount pull-right">-$20</span>
                                </li>
                                <li class="shipping">
                                    Shipping
                                </li>
                            </ul>
                            <div class="payment">
                                Payment
                                <span class="amount pull-right">$100</span>
                            </div>
                        </div>
                    </div>
                    <!-- END / YOUR ORDER -->


                    <!-- CHECKOUT CONTENT -->
                    <div class="col-md-9">
                        <div class="checkout-content">
                            
                            <h4 class="xmd text-capitalize">Your Info</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="billing_first_name">
                                        First Name <abbr class="required">*</abbr>
                                    </label>
                                    <input type="text" id="billing_first_name">
                                </div>
                                <div class="col-md-3">
                                    <label for="billing_last_name">
                                        Last Name <abbr class="required">*</abbr>
                                    </label>
                                    <input type="text" id="billing_last_name">
                                </div>
                                <div class="col-md-6">
                                    <label for="billing_company">
                                        Company Name
                                    </label>
                                    <input type="text" id="billing_company">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="billing_email">
                                        Email Address <abbr class="required">*</abbr>
                                    </label>
                                    <input type="text" id="billing_email">
                                </div>
                                <div class="col-md-6">
                                    <label for="billing_phone">
                                        Phone <abbr class="required">*</abbr>
                                    </label>
                                    <input type="text" id="billing_phone">
                                </div>
                            </div>

                            <h4 class="xmd text-capitalize">Delivery Info</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>
                                        Country <abbr class="required">*</abbr>
                                    </label>
                                    <div class="chosen-container-single">
                                        <a href="#" class="chosen-single"></a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="billing_address_1" class="">
                                        Address <abbr class="required">*</abbr>
                                    </label>
                                    <input type="text" id="billing_address_1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="billing_city">
                                        Town / City <abbr class="required">*</abbr>
                                    </label>
                                    <input type="text" id="billing_city">
                                </div>
                                <div class="col-md-4">
                                    <label for="billing_state">
                                        County
                                    </label>
                                    <input type="text" id="billing_state">
                                </div>
                                <div class="col-md-4">
                                    <label for="billing_postcode">
                                        Postcode <abbr class="required">*</abbr>
                                    </label>
                                    <input type="text" id="billing_postcode">
                                </div>
                            </div>

                            <input type="submit" value="confirm &amp; checkout" class="awe-btn awe-btn-3 awe-btn-default text-uppercase">
                        </div>
                    </div>
                    <!-- END / CHECKOUT CONTENT -->
                </div>
            </div>
        </div>
    </section>
    <!-- END / SHOP PAGE -->


    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                © 2014 Ambrosia Restaurant
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->
    

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- GOOGLE MAP -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.owl.carousel.min.js"></script>
<script type="text/javascript" src="js/lib/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="js/lib/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="js/lib/retina.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');

</script>


</body>

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:35 GMT -->
</html>