<!DOCTYPE html>

<head>
   
   
    
    <title>Ambrosia</title>
</head>
<body>


<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
    <header id="header" class="header header-1">
        <div class="container">
            <!-- LOGO -->
            <div class="logo"><a href="index.html"><img src="assets/logo.png" alt=""></a></div>
            <!-- END / LOGO -->

            <!-- OPEN MENU MOBILE -->
            <div class="open-menu-mobile">
                <span>Toggle menu mobile</span>
            </div>
            <!-- END / OPEN MENU MOBILE -->

            <!-- NAVIGATION -->
            <nav class="navigation text-right" data-menu-type="1200">
                <!-- NAV -->
                <ul class="nav text-uppercase">
                    <li class="menu-item-has-children">
                        <a href="#page-top">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index-onepage.html">Onepage</a></li>
                            <li><a href="index-2.html">Multipage</a></li>
                            <li><a href="index-3.html">Multipage Full</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="reservation.html">Reservation</a></li>
                    <li class="current-menu-item"><a href="event.html">Event</a></li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="shop-2.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop page</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog-sidebar.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-sidebar.html">Blog sidebar</a></li>
                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                    <li><a href="blog-single.html">Blog single</a></li>
                                </ul>
                            </li>
                            <li><a href="shortcode.html">Shortcode</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- END / NAV -->

                <!-- MINICART -->
                <div class="minicart-wrap">
                    <div class="toggle-minicart active">
                        <span class="text-uppercase">Cart</span>
                    </div>
                    <div class="minicart-body">
                        <h4 class="xsm text-uppercase text-center">Your cart</h4>
                        <ul class="minicart-list">
                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>

                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="minicart-total">
                            Total
                            <span class="amount pull-right">$120</span>
                        </div>

                        <div class="minicart-footer">
                            <a href="checkout.html" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">Check out</a>
                        </div>

                    </div>
                </div>
                <!-- END / MINICART -->
                
                <!-- SOCIAL -->
                <div class="head-social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- END / SOCIAL -->
            </nav>
            <!-- END / NAVIGATION -->
        </div>

    </header>
    <!-- END / HEADER -->

    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-4"></div>
        <div class="awe-title awe-title-3">
            <h3 class="lg text-uppercase">Events</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- EVENTS -->
    <section id="events" class="events section">
        <div class="divider divider-2"></div>
        <div class="section-content">
            <div class="container">
                <ul class="event-slider">

                    <!-- ITEM EVENT -->
                    <li>
                        <div class="item-event">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="image-wrap">
                                        <img src="assets/events/img-1.jpg" alt=""> 
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="item-event-body">
                                        <div class="item-event-title">
                                            <h4><a href="#">Jazz Show: Mr. Special & Ms. Giant</a></h4>
                                        </div>
                                        <div class="item-event-content">
                                            <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto.</p>
                                        </div>
                                        <div class="item-event-meta">
                                            <div class="date">
                                                <i class="icon awe_calendar"></i>
                                                Date : 10, October
                                            </div>
                                            <div class="time">
                                                <i class="icon awe_clock_1"></i>
                                                Time : 10:00
                                            </div>
                                            <div class="website">
                                                <i class="icon awe_link"></i>
                                                <a href="#">Website</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ITEM EVENT -->

                    <!-- ITEM EVENT -->
                    <li>
                        <div class="item-event">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="image-wrap">
                                        <img src="assets/events/img-2.jpg" alt=""> 
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="item-event-body">
                                        <div class="item-event-title">
                                            <h4><a href="#">Venison spare ribs pork tail</a></h4>
                                        </div>
                                        <div class="item-event-content">
                                            <p>Flank landjaeger brisket leberkas bacon kielbasa shank meatball, fatback t-bone pork biltong boudin. Hamburger strip steak ribeye pastrami tenderloin.</p>
                                        </div>
                                        <div class="item-event-meta">
                                            <div class="date">
                                                <i class="icon awe_calendar"></i>
                                                Date : 10, October
                                            </div>
                                            <div class="time">
                                                <i class="icon awe_clock_1"></i>
                                                Time : 10:00
                                            </div>
                                            <div class="website">
                                                <i class="icon awe_link"></i>
                                                <a href="#">Website</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ITEM EVENT -->

                    <!-- ITEM EVENT -->
                    <li>
                        <div class="item-event">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="image-wrap">
                                        <img src="assets/events/img-3.jpg" alt=""> 
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="item-event-body">
                                        <div class="item-event-title">
                                            <h4><a href="#">Hamburger strip steak ribeye pastrami tenderloin.</a></h4>
                                        </div>
                                        <div class="item-event-content">
                                            <p>Boudin ham hock chicken,. Leberkas ham sausage doner pastrami porchetta tri-tip boudin shankle. Meatball shoulder rump spare ribs tongue venison short ribs.</p>
                                        </div>
                                        <div class="item-event-meta">
                                            <div class="date">
                                                <i class="icon awe_calendar"></i>
                                                Date : 10, October
                                            </div>
                                            <div class="time">
                                                <i class="icon awe_clock_1"></i>
                                                Time : 10:00
                                            </div>
                                            <div class="website">
                                                <i class="icon awe_link"></i>
                                                <a href="#">Website</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ITEM EVENT -->

                    <!-- ITEM EVENT -->
                    <li>
                        <div class="item-event">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="image-wrap">
                                        <img src="assets/events/img-1.jpg" alt=""> 
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="item-event-body">
                                        <div class="item-event-title">
                                            <h4><a href="#">Jazz Show: Mr. Special & Ms. Giant</a></h4>
                                        </div>
                                        <div class="item-event-content">
                                            <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto.</p>
                                        </div>
                                        <div class="item-event-meta">
                                            <div class="date">
                                                <i class="icon awe_calendar"></i>
                                                Date : 10, October
                                            </div>
                                            <div class="time">
                                                <i class="icon awe_clock_1"></i>
                                                Time : 10:00
                                            </div>
                                            <div class="website">
                                                <i class="icon awe_link"></i>
                                                <a href="#">Website</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ITEM EVENT -->

                    <!-- ITEM EVENT -->
                    <li>
                        <div class="item-event">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="image-wrap">
                                        <img src="assets/events/img-2.jpg" alt=""> 
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="item-event-body">
                                        <div class="item-event-title">
                                            <h4><a href="#">Venison spare ribs pork tail</a></h4>
                                        </div>
                                        <div class="item-event-content">
                                            <p>Flank landjaeger brisket leberkas bacon kielbasa shank meatball, fatback t-bone pork biltong boudin. Hamburger strip steak ribeye pastrami tenderloin.</p>
                                        </div>
                                        <div class="item-event-meta">
                                            <div class="date">
                                                <i class="icon awe_calendar"></i>
                                                Date : 10, October
                                            </div>
                                            <div class="time">
                                                <i class="icon awe_clock_1"></i>
                                                Time : 10:00
                                            </div>
                                            <div class="website">
                                                <i class="icon awe_link"></i>
                                                <a href="#">Website</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- ITEM EVENT -->

                </ul>

                <!-- EVENT PAGER -->
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-4">
                        <div class="event-pager-scroll">
                            <div class="event-pager">
                                <a data-slide-index="0" href="#"><img src="assets/events/img-thumb-1.jpg" alt=""></a>
                                <a data-slide-index="1" href="#"><img src="assets/events/img-thumb-2.jpg" alt=""></a>
                                <a data-slide-index="2" href="#"><img src="assets/events/img-thumb-3.jpg" alt=""></a>
                                <a data-slide-index="3" href="#"><img src="assets/events/img-thumb-1.jpg" alt=""></a>
                                <a data-slide-index="4" href="#"><img src="assets/events/img-thumb-2.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END / EVENT PAGER -->
            </div>
        </div>
    </section>
    <!-- END / EVENTS -->

    <!-- EVENTS GALLERY -->
    <section id="events-gallery" class="events-gallery section">
        <div class="gallery-slider">
            <!-- GALLERY ITEM -->
            <div class="gallery-item">
                <a href="assets/background/img-1.jpg">
                    <img src="assets/events/img-1.jpg" alt="">
                </a>
            </div>
            <!-- END / GALLERY ITEM -->

            <!-- GALLERY ITEM -->
            <div class="gallery-item">
                <a href="assets/background/img-1.jpg">
                    <img src="assets/events/img-2.jpg" alt="">
                </a>
            </div>
            <!-- END / GALLERY ITEM -->

            <!-- GALLERY ITEM -->
            <div class="gallery-item">
                <a href="assets/background/img-1.jpg">
                    <img src="assets/events/img-3.jpg" alt="">
                </a>
            </div>
            <!-- END / GALLERY ITEM -->

            <!-- GALLERY ITEM -->
            <div class="gallery-item">
                <a href="assets/background/img-1.jpg">
                    <img src="assets/events/img-1.jpg" alt="">
                </a>
            </div>
            <!-- END / GALLERY ITEM -->

            <!-- GALLERY ITEM -->
            <div class="gallery-item">
                <a href="assets/background/img-1.jpg">
                    <img src="assets/events/img-2.jpg" alt="">
                </a>
            </div>
            <!-- END / GALLERY ITEM -->

            <!-- GALLERY ITEM -->
            <div class="gallery-item">
                <a href="assets/background/img-1.jpg">
                    <img src="assets/events/img-3.jpg" alt="">
                </a>
            </div>
            <!-- END / GALLERY ITEM -->

            
        </div>
    </section>
    <!-- END / EVENTS GALLERY -->


    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                © 2014 kasturi infotec
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->
    

</div>
<!-- END / PAGE WRAP -->


</body>

</html>