<!DOCTYPE html>
<html class="" lang="en"> 

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

   
    <title>food</title>
</head>
<body>


<!-- PAGE WRAP -->
<div id="page-wrap">
 
    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-4"></div>
        <div class="awe-title awe-title-3">
            <h3 class="lg text-uppercase">Menu</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- THE MENU -->
    <section id="the-menu" class="the-menu section">
        <div class="tabs-menu tabs-page">
            <div class="container">
                <ul class="nav-tabs text-center" role="tablist">
                    <li class="active"><a href="#breakfast" role="tab" data-toggle="tab">Breakfast</a></li>
                    <li><a href="#lunch" role="tab" data-toggle="tab">Lunch</a></li>
                    <li><a href="#dinner" role="tab" data-toggle="tab">Dinner</a></li>
                    <li><a href="#dessert" role="tab" data-toggle="tab">Dessert</a></li>
                    <li><a href="#drink" role="tab" data-toggle="tab">Drink</a></li>
                </ul>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="tab-menu-content tab-content">
                    <!-- BREAKFAST -->
                    <div class="tab-pane fade in active" id="breakfast">
                        <div class="row">
                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-1.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-2.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-3.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-4.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-5.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-1.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-2.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-3.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-4.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-5.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                        </div>
                        
                    </div>
                    <!-- END / BREAKFAST -->

                    <!-- LUNCH -->
                    <div class="tab-pane fade" id="lunch">
                        <div class="row">

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-4.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-5.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-1.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-2.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-3.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-4.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-5.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                        </div>
                    </div>
                    <!-- END / LUNCH -->

                    <!-- DINNER -->
                    <div class="tab-pane fade" id="dinner">
                        <div class="row">

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-4.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-5.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-1.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-2.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-3.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-4.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-5.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                        </div>
                    </div>
                    <!-- END / DINNER -->

                    <!-- DESSERT -->
                    <div class="tab-pane fade" id="dessert">
                        <div class="row">

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-5.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-1.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-2.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-3.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-4.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-5.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                        </div>
                    </div>
                    <!-- END / DESSERT -->

                    <!-- DRINK -->
                    <div class="tab-pane fade" id="drink">
                        <div class="row">

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-4.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-5.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-1.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-2.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-3.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-4.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-lg-6">
                                <div class="the-menu-item">
                                    <div class="image-wrap">
                                        <img src="assets/themenu/img-5.jpg" alt="">
                                    </div>
                                    <div class="the-menu-body">
                                        <h4 class="xsm">Scrambled Eggs in Puff Pastry</h4>
                                        <p>with “soldiers”</p>
                                    </div>
                                    <div class="prices">
                                        <span class="price xsm">$16.00</span>
                                    </div>
                                    <div class="highlight">Signature</div>
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                        </div>
                    </div>
                    <!-- END / DRINK -->

                </div>
            </div>
        </div>
    </section>
    <!-- END / THE MENU -->

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->


<!-- GOOGLE MAP -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../assets/analytics.js','ga');

  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');

</script>


</body>

</html>