

<div class="product-detail-page">
    <div class="row">
        <div class="col-sm-5">
            <div class="product-page-slider">
                <div class="item"><img src="images/shop/img-1.jpg" alt=""></div>
                <div class="item"><img src="images/shop/img-1.jpg" alt=""></div>
             

            </div>
        </div>
        <%= @product.inspect %>
        <div class="col-sm-7">
            <div class="product-detail-content">
                <h3 class="lg">Cereal Strawbery & Milk</h3>
                <div class="categories">
                    <ul>
                        <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                        <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                    </ul>
                </div>
                <div class="product-desc">
                    <p>Venison spare ribs pork tail, beef meatloaf kielbasa turkey rump turducken beef ribs ground round sirloin kevin hamburger. Boudin ham hock chicken,.</p>
                    <div class="ingredient">
                        <p><strong>Ingredient :</strong> Leberkas ham sausage doner pastrami porchetta tri-tip boudin shankle. Meatball shoulder rump spare ribs tongue venison short ribs.</p>
                    </div>
                </div>
                <div class="sizes">
                    <h6>Size</h6>
                    <ul>
                        <li>
                            <span class="size text-uppercase">s</span>
                            <div class="tooltip-size"><span>Size S:</span> for 2 people</div>
                        </li>

                        <li>
                            <span class="size text-uppercase">m</span>
                            <div class="tooltip-size"><span>Size M:</span> for 6 people</div>
                        </li>

                        <li>
                            <span class="size text-uppercase">L</span>
                            <div class="tooltip-size"><span>Size L:</span> for 8 people</div>
                        </li>
                    </ul>
                </div>
                <div class="quantity-wrap">
                    <h6>Quantity</h6>
                    <div class="quantity">
                        <input type="button" value="-" class="minus">
                        <input type="number" value="1" class="qty">
                        <input type="button" value="+" class="plus">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="product-foot">
                    <span class="price">$6.54</span>

                    <div class="add-to-cart">
                        <a href="cart.html" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">Add to cart</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    // PRODUCT SLIDER
    if ($('.product-page-slider').length) {
        $(".product-page-slider").owlCarousel({
            autoPlay: 10000,
            navigation: false,
            slideSpeed: 300,
            transitionStyle: 'fade',
            singleItem:true,
            pagination: true
        });
    }
    $.each($('.awe-btn'), function() {
        var classtype = $(this).attr("class");
        $(this)
            .wrap('<div class="' + classtype +'"></div>')
            .removeClass();
    });
</script>
