<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/reservation.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:19 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
   
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

   
    <title>food</title>
</head>
<body>

<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
    <header id="header" class="header header-1">
        <div class="container">
            <!-- LOGO -->
            <div class="logo"><a href="index-2.html"><img src="assets/logo.png" alt=""></a></div>
            <!-- END / LOGO -->

            <!-- OPEN MENU MOBILE -->
            <div class="open-menu-mobile">
                <span>Toggle menu mobile</span>
            </div>
            <!-- END / OPEN MENU MOBILE -->

            <!-- NAVIGATION -->
            <nav class="navigation text-right" data-menu-type="1200">
                <!-- NAV -->
                <ul class="nav text-uppercase">
                    <li class="menu-item-has-children">
                        <a href="#page-top">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index-onepage.html">Onepage</a></li>
                            <li><a href="index-2.html">Multipage</a></li>
                            <li><a href="index-3.html">Multipage Full</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li class="current-menu-item"><a href="reservation.html">Reservation</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop page</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog-sidebar.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-sidebar.html">Blog sidebar</a></li>
                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                    <li><a href="blog-single.html">Blog single</a></li>
                                </ul>
                            </li>
                            <li><a href="shortcode.html">Shortcode</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- END / NAV -->

                <!-- MINICART -->
                <div class="minicart-wrap">
                    <div class="toggle-minicart active">
                        <span class="text-uppercase">Cart</span>
                    </div>
                    <div class="minicart-body">
                        <h4 class="xsm text-uppercase text-center">Your cart</h4>
                        <ul class="minicart-list">
                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>

                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="minicart-total">
                            Total
                            <span class="amount pull-right">$120</span>
                        </div>

                        <div class="minicart-footer">
                            <a href="checkout.html" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">Check out</a>
                        </div>

                    </div>
                </div>
                <!-- END / MINICART -->
                
                <!-- SOCIAL -->
                <div class="head-social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- END / SOCIAL -->
            </nav>
            <!-- END / NAVIGATION -->
        </div>

    </header>
    <!-- END / HEADER -->

    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-4"></div>
        <div class="awe-title awe-title-3">
            <h3 class="lg text-uppercase">Reservation</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- RESERVATION -->
    <section class="reservation section pd">
        <div class="divider divider-2"></div>
        <div class="reservation-content">
            <form id="reservation-form" action="http://envato.megadrupal.com/html/ambrosia/processReservation.php" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <table class="form-table table-first">
                            <tbody>
                                <tr class="t-date">
                                    <td colspan="2">
                                        <label for="date">Date</label>
                                        <div class="form-item">
                                            <input type="text" id="date" name="date" placeholder="dd/mm/yyyy">
                                            <i class="icon awe_calendar"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="t-time-pers">
                                    <td class="t-time">
                                        <label for="time">Time</label>
                                        <div class="form-item">
                                            <select name="time">
                                                <option>1:00</option>
                                                <option>2:00</option>
                                                <option>3:00</option>
                                                <option>4:00</option>
                                                <option>5:00</option>
                                                <option>6:00</option>
                                                <option>7:00</option>
                                                <option>8:00</option>
                                                <option>9:00</option>
                                                <option>10:00</option>
                                                <option>11:00</option>
                                                <option>12:00</option>
                                                <option>13:00</option>
                                                <option>14:00</option>
                                                <option>15:00</option>
                                                <option>16:00</option>
                                                <option>17:00</option>
                                                <option>18:00</option>
                                                <option>19:00</option>
                                                <option>20:00</option>
                                                <option>21:00</option>
                                                <option>22:00</option>
                                                <option>23:00</option>
                                                <option>24:00</option>
                                            </select>
                                            <i class="icon awe_clock_2"></i>
                                        </div>
                                    </td>
                                    <td class="t-pers">
                                        <label for="pers">Pers</label>
                                        <div class="form-item">
                                            <input type="text" id="pers" name="pers">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="t-note">
                                    <td colspan="2">
                                        <label for="note">Note</label>
                                        <div class="form-item">
                                            <input type="text" id="note" name="note">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        
                    <div class="col-md-6">
                        <table class="form-table">
                            <tbody>
                                <tr class="t-name">
                                    <td>
                                        <label for="name">Guest Name</label>
                                        <div class="form-item">
                                            <input type="text" id="name" name="name">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="t-telephone">
                                    <td>
                                        <label for="telephone">Telephone</label>
                                        <div class="form-item">
                                            <input type="text" id="telephone" name="phone">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="t-email">
                                    <td>
                                        <label for="email">Email</label>
                                        <div class="form-item">
                                            <input type="text" id="email" name="email">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-footer text-center">
                    <div class="form-item reservation-submit">
                        <input type="submit" value="CHECK AVAILABILITY" class="awe-btn awe-btn-3 awe-btn-default text-uppercase">
                    </div>
                </div>
                <div id="reservation-form-content" class="text-center"></div>
            </form>
        </div>
    </section>
    <!-- END / RESERVATION -->

    <!-- TESTIMONIAL -->
    <section id="testimonial" class="testimonial testimonial-1 section">
        <!-- BACKGROUND -->
        <div class="awe-parallax bg-6"></div>
        <!-- END / BACKGROUND -->

        <!-- OVERLAY -->
        <div class="awe-overlay"></div>
        <!-- END / OVERLAY -->

        <div class="container">
            <div class="testimonial-content">
                <div class="icon-head">
                    <i class="icon awe_quote_left"></i>
                </div>

                <blockquote>
                    <p>It’s not about nutrients and calories.</p>
                    <span>It’s about sharing. It’s about honesty.</span>
                    <div class="test-footer text-right">
                        <span class="sm">Robert Smith</span>
                    </div>
                </blockquote>
            </div>
        </div>
    </section>
    <!-- END / TESTIMONIAL -->


    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                © 2014 Ambrosia Restaurant
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->
    

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->

<!-- GOOGLE MAP -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>




</body>

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/reservation.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:22 GMT -->
</html>