<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

 
    
    <title>food</title>
</head>
<body>


<!-- PAGE WRAP -->
<div id="page-wrap">
    
    

    <!-- SUB BANNER -->
    <section class="sub-banner text-center section">
        <div class="awe-parallax bg-4"></div>
        <div class="awe-title awe-title-2">
            <h3 class="lg text-uppercase">Shop</h3>
        </div>
    </section>
    <!-- END / SUB BANNER -->

    <!-- SHOP PAGE -->
    <section id="shop-page" class="shop-page section">
        <div class="tabs-shop tabs-page">
            <div class="container">
                <ul class="nav-tabs" role="tablist">
                    <li class="active"><a href="#breakfast" role="tab" data-toggle="tab">Breakfast</a></li>
                    <li><a href="#lunch" role="tab" data-toggle="tab">Lunch</a></li>
                    <li><a href="#dinner" role="tab" data-toggle="tab">Dinner</a></li>
                </ul>
                
                <select class="select-custom" name="">
                    <option value="">All Meals</option>
                    <option value="">Breakfast</option>
                    <option value="">Lunch</option>
                </select>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="tab-shop-content tab-content">
                    <!-- BREAKFAST -->
                    <div class="tab-pane fade in active" id="breakfast">
                        <div class="row">
                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->


                        </div>
                        
                    </div>
                    <!-- END / BREAKFAST -->

                    <!-- LUNCH -->
                    <div class="tab-pane fade" id="lunch">
                        <div class="row">
                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->
                        </div>
                        
                    </div>
                    <!-- END / LUNCH -->

                    <!-- DINNER -->
                    <div class="tab-pane fade" id="dinner">
                        <div class="row">
                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->

                            <!-- THE MENU ITEM -->
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail-popup.html">
                                            <img src="assets/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail-popup.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- END / THE MENU ITEM -->
                        </div>
                        
                    </div>
                    <!-- END / DINNER -->

                </div>
            </div>
        </div>
    </section>
    <!-- END / SHOP PAGE -->
   

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- GOOGLE MAP -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');

</script>



</body>

</html>