<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/shortcode.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:47 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    

    <title>food</title>
</head>
<body id="page-top" class="home" data-spy="scroll">

<!-- PRELOADER -->
<div class="preloader">
    <div class="inner">
        <div class="item item1"></div>
        <div class="item item2"></div>
        <div class="item item3"></div>
    </div>
</div>
<!-- END / PRELOADER -->

<!-- PAGE WRAP -->
<div id="page-wrap">
    
    <!-- HEADER -->
    <header id="header" class="header header-1">
        <div class="container">
            <!-- LOGO -->
            <div class="logo"><a href="index-2.html"><img src="assets/logo.png" alt=""></a></div>
            <!-- END / LOGO -->

            <!-- OPEN MENU MOBILE -->
            <div class="open-menu-mobile">
                <span>Toggle menu mobile</span>
            </div>
            <!-- END / OPEN MENU MOBILE -->

            <!-- NAVIGATION -->
            <nav class="navigation text-right" data-menu-type="1200">
                <!-- NAV -->
                <ul class="nav text-uppercase">
                    <li class="menu-item-has-children">
                        <a href="#page-top">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index-onepage.html">Onepage</a></li>
                            <li><a href="index-2.html">Multipage</a></li>
                            <li><a href="index-3.html">Multipage Full</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="reservation.html">Reservation</a></li>
                    <li><a href="event.html">Event</a></li>
                    <li class="menu-item-has-children current-menu-item">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="shop.html">Shop page</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog-sidebar.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-sidebar.html">Blog sidebar</a></li>
                                    <li><a href="blog-grid.html">Blog grid</a></li>
                                    <li><a href="blog-single.html">Blog single</a></li>
                                </ul>
                            </li>
                            <li class="current-menu-item"><a href="shortcode.html">Shortcode</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <!-- END / NAV -->

                <!-- MINICART -->
                <div class="minicart-wrap">
                    <div class="toggle-minicart active">
                        <span class="text-uppercase">Cart</span>
                    </div>
                    <div class="minicart-body">
                        <h4 class="xsm text-uppercase text-center">Your cart</h4>
                        <ul class="minicart-list">
                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>

                            <li>
                                <div class="product-thumb">
                                    <img src="assets/shop/img-2.jpg" alt="">
                                </div>
                                <div class="product-name">
                                    <a href="#">Name of the Dish ( L )</a>
                                </div>
                                <div class="qty-wrap">
                                    <span class="product-quantity">
                                        <span class="quantity">2</span> serves.
                                    </span>
                                    <span class="amount">$48</span>
                                </div>
                                <div class="product-remove">
                                    <a href="#"><i class="icon awe_close"></i></a>
                                </div>
                            </li>
                        </ul>
                        <div class="minicart-total">
                            Total
                            <span class="amount pull-right">$120</span>
                        </div>

                        <div class="minicart-footer">
                            <a href="checkout.html" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">Check out</a>
                        </div>

                    </div>
                </div>
                <!-- END / MINICART -->
                
                <!-- SOCIAL -->
                <div class="head-social">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </div>
                <!-- END / SOCIAL -->
            </nav>
            <!-- END / NAVIGATION -->
        </div>

    </header>
    <!-- END / HEADER -->

    <section class="shortcode-page">
        <div class="container">
            <h4 class="text-uppercase">button</h4>
            <hr class="_hr_dark">
            <div class="clearfix">
                <div class="col-sm-12">
                    <a href="#" class="awe-btn awe-btn-1 awe-btn-default text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-1 awe-btn-plus text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-1 awe-btn-ar text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-2 awe-btn-plus text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-2 awe-btn-ar text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-3 awe-btn-default text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-3 awe-btn-plus text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-3 awe-btn-ar text-uppercase">The menu</a>
                </div>
            </div>
            
            <div class="relative clearfix">
                <div class="awe-color" style="background-color: #666;"></div>
                <div class="col-sm-12">
                    <a href="#" class="awe-btn awe-btn-4 awe-btn-default text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-4 awe-btn-plus text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-4 awe-btn-ar text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-5 awe-btn-default text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-5 awe-btn-plus text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-5 awe-btn-ar text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-6 awe-btn-default text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-6 awe-btn-plus text-uppercase">The menu</a>
                    <a href="#" class="awe-btn awe-btn-6 awe-btn-ar text-uppercase">The menu</a>
                </div>
            </div>

            <h4 class="text-uppercase">Title</h4>
            <hr class="_hr_dark">
            <div class="relative text-center">
                <div class="awe-parallax bg-1"></div>
            
                <div class="awe-title awe-title-1">
                    <h3 class="lg text-uppercase">title 1</h3>
                </div>
            
            </div>
            
            <div class="relative text-center">
            
                <div class="awe-parallax bg-2"></div>
            
                <div class="awe-title awe-title-2">
                    <h3 class="lg text-uppercase">title 2</h3>
                </div>
            
            </div>
            
            <div class="relative text-center">
            
                <div class="awe-parallax bg-3"></div>
            
                <div class="awe-title awe-title-3">
                    <h3 class="lg text-uppercase">title 3</h3>
                </div>
            
            </div>

            <h4 class="text-uppercase">Title ribbon</h4>
            <hr class="_hr_dark">

            <div class="relative text-center">
            
                <div class="awe-parallax bg-4"></div>
            
                <div class="ribbon ribbon-1">
                    <h2 class="sm text-uppercase">title 4</h2>
                </div>
            
            </div>

            <div class="relative text-center">
            
                <div class="awe-parallax bg-5"></div>
            
                <div class="ribbon ribbon-2">
                    <h2 class="sm text-uppercase">title 5</h2>
                </div>
            
            </div>

            <div class="relative text-center">
            
                <div class="awe-parallax bg-6"></div>
            
                <div class="ribbon ribbon-3">
                    <h2 class="sm text-uppercase">title 6</h2>
                </div>
            
            </div>

            <div class="relative text-center">
            
                <div class="awe-parallax bg-3"></div>
            
                <div class="ribbon ribbon-4">
                    <h2 class="sm text-uppercase">title 7</h2>
                </div>
            
            </div>

            <h4 class="text-uppercase">Select</h4>
            <hr class="_hr_dark">
            <div class="relative text-center">
            
                <div class="awe-color"></div>
                <div class="col-md-4">
                    <select class="select-custom" name="">
                        <option value="">All Meals</option>
                        <option value="">Breakfast</option>
                        <option value="">Lunch</option>
                    </select>
                </div>

                <div class="clearfix"></div>
            
            </div>


            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-uppercase">Heading</h4>
                    <hr class="_hr_dark">

                    <h1 class="text-uppercase">Heading h1</h1>
                    <h2 class="text-uppercase">Heading h2</h2>
                    <h3 class="text-uppercase">Heading h3</h3>
                    <h4 class="text-uppercase">Heading h4</h4>
                    <h5 class="text-uppercase">Heading h5</h5>
                    <h6 class="text-uppercase">Heading h6</h6>
                </div>

                <div class="col-md-6">
                    <h4 class="text-uppercase">Blockquote</h4>
                    <hr class="_hr_dark">

                    <blockquote class="blockquote q-left">
                        <p>Maecenas eu metus sit amet nunc rhoncus dictum vitae non felis. Praesent consequat placerat velit nec vehicula. </p>
                        <span class="blockquote-footer">Anonymous</span>
                    </blockquote>

                    <blockquote class="blockquote q-right">
                        <p>Maecenas eu metus sit amet nunc rhoncus dictum vitae non felis. Praesent consequat placerat velit nec vehicula. </p>
                        <span class="blockquote-footer">Anonymous</span>
                    </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-uppercase">order list</h4>
                    <hr class="_hr_dark">
                    <ol>
                        <li>Sed <mark>pellentesque</mark> commodo <del>magna</del>, eget tincidunt magna condimentum lobortis. Integer facilisis ipsum sem,</li>
                        <li>Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget <abbr title="abbr">lobortis augue</abbr>, id sollicitudin justo. </li>
                        <li>
                            Ut sit amet orci ac <strong>sapien porta porta</strong>. Mauris facilisis sollicitudin pharetra. Phasellus rutrum nisi quam, quis congue nisi vehicula ac.
                            <ul>
                                <li><strong>Ut sit amet</strong> : orci ac sapien porta porta. Mauris facilisis sollicitudin pharetra. </li>
                            </ul>
                        </li>
                        <li>Donec vitae diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget lobortis augue, id sollicitudin justo. </li>
                    </ol>
                </div>

                <div class="col-md-6">
                    <h4 class="text-uppercase">unorder list</h4>
                    <hr class="_hr_dark">
                    <ul>
                        <li><strong>Donec vitae</strong> : diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget lobortis augue</li>
                        <li>
                            <strong>Ut sit amet</strong> : orci ac sapien porta porta. Mauris facilisis sollicitudin pharetra. 
                            <ul>
                                <li><strong>Donec vitae</strong> : diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget lobortis augue</li>
                                <li><strong>Donec vitae</strong> : diam eu magna tincidunt rutrum. Nullam interdum lacinia lobortis. Duis eget lobortis augue</li>
                            </ul>
                        </li>
                        <li><strong>Ut sit amet</strong> : orci ac sapien porta porta. Mauris facilisis sollicitudin pharetra. </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-uppercase">Tabs</h4>
                    <hr class="_hr_dark">
                    <div class="tabs-wrap">
                        <div class="tabs-page">
                            <ul class="nav-tabs" role="tablist">
                                <li class="active"><a href="#breakfast" role="tab" data-toggle="tab">Breakfast</a></li>
                                <li><a href="#lunch" role="tab" data-toggle="tab">Lunch</a></li>
                                <li><a href="#dinner" role="tab" data-toggle="tab">Dinner</a></li>
                                <li><a href="#dessert" role="tab" data-toggle="tab">Dessert</a></li>
                                <li><a href="#drink" role="tab" data-toggle="tab">Drink</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <!-- BREAKFAST -->
                            <div class="tab-pane fade in active" id="breakfast">
                                <p>Ut sit amet orci ac sapien porta porta. Mauris facilisis sollicitudin pharetra. Phasellus rutrum nisi quam, quis congue nisi vehicula ac.</p>
                            </div>
                            <!-- END / BREAKFAST -->
                        
                            <!-- LUNCH -->
                            <div class="tab-pane fade" id="lunch">
                                <p>Ut sit amet orci ac sapien porta porta. Mauris facilisis sollicitudin pharetra. Phasellus rutrum nisi quam, quis congue nisi vehicula ac.</p>
                            </div>
                            <!-- END / LUNCH -->
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4 class="text-uppercase">Accordion</h4>
                    <hr class="_hr_dark">
                    <div class="accordion-wrap">
                        <div class="panel-group" id="id-accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title text-uppercase">
                                        <a data-toggle="collapse" data-parent="#id-accordion" href="#collapse-2-1">
                                            <i class="fa fa-minus"></i>
                                             Nullam consectetur
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-2-1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    Mauris tincidunt pharetra tempor. Proin lacinia dui augue, quis pellentesque nisi sodales ullamcorper. Proin tincidunt, magna non tincidunt congue, lacus lacus ullamcorper justo, ut tristique dolor erat nec ligula. Proin ac dui hendrerit, porttitor libero vel, convallis nisl. Maecenas in sem elit.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title text-uppercase">
                                        <a data-toggle="collapse" data-parent="#id-accordion" href="#collapse-2-2">
                                            <i class="fa fa-plus"></i>
                                            turpis quis
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-2-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Mauris tincidunt pharetra tempor. Proin lacinia dui augue, quis pellentesque nisi sodales ullamcorper. Proin tincidunt, magna non tincidunt congue, lacus lacus ullamcorper justo, ut tristique dolor erat nec ligula. Proin ac dui hendrerit, porttitor libero vel, convallis nisl. Maecenas in sem elit.
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title text-uppercase">
                                        <a data-toggle="collapse" data-parent="#id-accordion" href="#collapse-2-3">
                                            <i class="fa fa-plus"></i>
                                            feugiat eleifend
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-2-3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Mauris tincidunt pharetra tempor. Proin lacinia dui augue, quis pellentesque nisi sodales ullamcorper. Proin tincidunt, magna non tincidunt congue, lacus lacus ullamcorper justo, ut tristique dolor erat nec ligula. Proin ac dui hendrerit, porttitor libero vel, convallis nisl. Maecenas in sem elit.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-uppercase">Alert</h4>
                    <hr class="_hr_dark">


                    <div class="awe-warning">
                        <p>WARNING: We need 01 Chef, 02 Waiter, 01 Event manager and many supporters, Join Us Today to have more fun !</p>
                    </div>
                    <div class="awe-message">
                        <p>MESSAGE: We need 01 Chef, 02 Waiter, 01 Event manager and many supporters, Join Us Today to have more fun !</p>
                    </div>
                    <div class="awe-error">
                        <p>ERROR: We need 01 Chef, 02 Waiter, 01 Event manager and many supporters, Join Us Today to have more fun !</p>
                    </div>
                    <div class="awe-info">
                        <p>INFO: We need 01 Chef, 02 Waiter, 01 Event manager and many supporters, Join Us Today to have more fun !</p>
                    </div>
                </div>
            </div>  


            <div class="row">
                <div class="col-xs-12">
                    <h4 class="text-uppercase">PRICING TABLE</h4>
                    <hr class="_hr_dark">
                </div>
            </div>
            <div class="row">
                <!-- PRICING TABLE -->
                <div class="col-md-4">
                    <div class="pricing-table">
                        <!-- PRICING HEAD -->
                        <div class="pricing-heading">
                            <div class="ribbon ribbon-2">
                                <h2 class="sm text-uppercase">STANDARD</h2>
                            </div>
                        </div>
                        <!-- END / PRICING HEAD -->

                        <!-- PRICING BODY -->
                        <div class="pricing-body">
                            <div class="prices">
                                <span class="amount">$189</span>
                                <span class="per">per adult</span>
                            </div>

                            <div class="pricing-hr"><span></span></div>

                            <ul class="pricing-list">
                                <li>50 Dishes</li>
                                <li>2 Free Drinks</li>
                                <li>Serve at table</li>
                            </ul>
                            
                        </div>
                        <!-- END / PRICING BODY -->

                        <!-- PRICING FOOTER -->
                        <div class="pricing-footer">
                            <a href="#" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">BOOK A TABLE</a>
                        </div>
                        <!-- END / PRICING FOOTER -->

                    </div>
                </div>
                <!-- END / PRICING TABLE -->

                <!-- PRICING TABLE -->
                <div class="col-md-4">
                    <div class="pricing-table">
                        <!-- PRICING HEAD -->
                        <div class="pricing-heading">
                            <div class="ribbon ribbon-3">
                                <h2 class="sm text-uppercase">PREMIUM</h2>
                            </div>
                        </div>
                        <!-- END / PRICING HEAD -->

                        <!-- PRICING BODY -->
                        <div class="pricing-body">
                            <div class="prices">
                                <span class="amount">$189</span>
                                <span class="per">per adult</span>
                            </div>

                            <div class="pricing-hr"><span></span></div>

                            <ul class="pricing-list">
                                <li>50 Dishes</li>
                                <li>2 Free Drinks</li>
                                <li>Serve at table</li>
                            </ul>
                            
                        </div>
                        <!-- END / PRICING BODY -->

                        <!-- PRICING FOOTER -->
                        <div class="pricing-footer">
                            <a href="#" class="awe-btn awe-btn-3 awe-btn-default text-uppercase">BOOK A TABLE</a>
                        </div>
                        <!-- END / PRICING FOOTER -->

                    </div>
                </div>
                <!-- END / PRICING TABLE -->

                <!-- PRICING TABLE -->
                <div class="col-md-4">
                    <div class="pricing-table">
                        <!-- PRICING HEAD -->
                        <div class="pricing-heading">
                            <div class="ribbon ribbon-2">
                                <h2 class="sm text-uppercase">LEGENDARY</h2>
                            </div>
                        </div>
                        <!-- END / PRICING HEAD -->

                        <!-- PRICING BODY -->
                        <div class="pricing-body">
                            <div class="prices">
                                <span class="amount">$189</span>
                                <span class="per">per adult</span>
                            </div>

                            <div class="pricing-hr"><span></span></div>

                            <ul class="pricing-list">
                                <li>50 Dishes</li>
                                <li>2 Free Drinks</li>
                                <li>Serve at table</li>
                            </ul>
                            
                        </div>
                        <!-- END / PRICING BODY -->

                        <!-- PRICING FOOTER -->
                        <div class="pricing-footer">
                            <a href="#" class="awe-btn awe-btn-2 awe-btn-default text-uppercase">BOOK A TABLE</a>
                        </div>
                        <!-- END / PRICING FOOTER -->

                    </div>
                </div>
                <!-- END / PRICING TABLE -->
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="text-uppercase">The staff</h4>
                    <hr class="_hr_dark">
                </div>
            </div>
            <div class="row">
                <div class="staff-slider">
                    <!-- STAFF ITEM -->
                    <div class="staff-item">
                        <div class="staff-heading">
                            <div class="image-wrap">
                                <img src="assets/staff/img-1.jpg" alt="">
                            </div>
                    
                            <div class="staff-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tumblr"></i></a>
                            </div>
                        </div>
                    
                        <div class="staff-info">
                            <h4 class="staff-name sm">DOE The Female John</h4>
                            <span class="staff-work">the chef</span>
                        </div>
                    
                        <div class="staff-body">
                            <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto.</p>
                        </div>
                    
                    </div>
                    <!-- END / STAFF ITEM -->

                    <!-- STAFF ITEM -->
                    <div class="staff-item">
                        <div class="staff-heading">
                            <div class="image-wrap">
                                <img src="assets/staff/img-2.jpg" alt="">
                            </div>
                    
                            <div class="staff-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tumblr"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    
                        <div class="staff-info">
                            <h4 class="staff-name sm">DOE The John</h4>
                            <span class="staff-work">the manager</span>
                        </div>
                    
                        <div class="staff-body">
                            <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto.</p>
                        </div>
                    
                    </div>
                    <!-- END / STAFF ITEM -->

                    <!-- STAFF ITEM -->
                    <div class="staff-item">
                        <div class="staff-heading">
                            <div class="image-wrap">
                                <img src="assets/staff/img-3.jpg" alt="">
                            </div>
                    
                            <div class="staff-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tumblr"></i></a>
                            </div>
                        </div>
                    
                        <div class="staff-info">
                            <h4 class="staff-name sm">Peter de Joane</h4>
                            <span class="staff-work">the online manager</span>
                        </div>
                    
                        <div class="staff-body">
                            <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto.</p>
                        </div>
                    
                    </div>
                    <!-- END / STAFF ITEM -->

                    <!-- STAFF ITEM -->
                    <div class="staff-item">
                        <div class="staff-heading">
                            <div class="image-wrap">
                                <img src="assets/staff/img-3.jpg" alt="">
                            </div>
                    
                            <div class="staff-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tumblr"></i></a>
                            </div>
                        </div>
                    
                        <div class="staff-info">
                            <h4 class="staff-name sm">Peter de Joane</h4>
                            <span class="staff-work">the online manager</span>
                        </div>
                    
                        <div class="staff-body">
                            <p>Doner filet mignon bacon corned beef rump, frankfurter sirloin brisket drumstick kielbasa ribeye boudin pancetta prosciutto.</p>
                        </div>
                    
                    </div>
                    <!-- END / STAFF ITEM -->
                </div>
            </div>
        </div>
    </section>


    <!-- FOOTER -->
    <footer id="footer" class="footer">
        <div class="divider divider-1 divider-color"></div>
        <div class="awe-color"></div>
        <div class="container">
            <div class="copyright text-center">
                © 2014 Ambrosia Restaurant
            </div>
        </div>
    </footer>
    <!-- END / FOOTER -->

    

</div>
<!-- END / PAGE WRAP -->

<!-- LOAD JQUERY -->
<script src="../../../ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<!-- GOOGLE MAP -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');

</script>
</body>

<!-- Mirrored from envato.megadrupal.com/html/ambrosia/shortcode.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Apr 2015 07:26:47 GMT -->
</html>