
<!DOCTYPE html>
 <html > 

<head>
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    
    <title>food</title>
</head>
<body>



<!-- PAGE WRAP -->
<div id="page-wrap">
    <section id="contact" class="contact section">
      <div class="contact-first ">
        
                <div class="container">
                    <div class="row">
                    <div class="col-md-5 ">
                    <img src="../assets/go-next-orange.png" width="310px" style="left: 350px;top: 50px;">
                    </div>
                    
                        <div class="col-md-6 ">
                            <div class="contact-body text-center">
                                <h3 class="lg text-uppercase">Log In</h3>
                                <hr class="_hr">
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                      <div class="field">
                                         <%= f.email_field :email, autofocus: true, :placeholder=>"Your Email Id" %>
                                      </div>
                                    <br>
                                      <div class="field">
                                        <%= f.password_field :password, autocomplete: "off",:placeholder=>"Your Password" %>
                                      </div>
                                    <br>
                                      <% if devise_mapping.rememberable? -%>
                                        <div class="field">
                                          <%= f.check_box :remember_me %>
                                          <%= f.label :remember_me %>
                                        </div>
                                      <% end -%>
                                     <hr class="_hr">
                                      <div class="actions form-item">
                                        <%= f.submit "Log in", :class => 'btn text-uppercase', :onclick=>"validate()"  %>
                                      </div>
                                    <% end %>
                                    
                                    <%= render "devise/shared/links" %>
                              </form>
                        </div>
                        </div>
                    </div>
                </div>
          </div>
           
    </section>
    <!-- END / CONTACT US -->
</div>
<!-- END / PAGE WRAP -->

</body>
</html>
<br>
                             
                           
                       
                   
          
     
                

