@font-face {
	font-family: 'awe_fonts';
	src:url('../assets/awe-fontsd5bb.eot?-oqw5bv');
	src:url('../assets/awe-fontsd41d.eot?#iefix-oqw5bv') format('embedded-opentype'),
		url('../assets/awe-fontsd5bb.woff?-oqw5bv') format('woff'),
		url('../assets/awe-fontsd5bb.ttf?-oqw5bv') format('truetype'),
		url('../assets/awe-fontsd5bb.svg?-oqw5bv#awe_fonts') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="awe_"], [class*=" awe_"] {
	font-family: 'awe_fonts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.awe_link:before {
	content: "\e60d";
}
.awe_calendar:before {
	content: "\e600";
}
.awe_certificate:before {
	content: "\e601";
}
.awe_check:before {
	content: "\e602";
}
.awe_clock_1:before {
	content: "\e603";
}
.awe_clock_2:before {
	content: "\e604";
}
.awe_close:before {
	content: "\e605";
}
.awe_map_marker:before {
	content: "\e606";
}
.awe_minus:before {
	content: "\e607";
}
.awe_pie_chart:before {
	content: "\e608";
}
.awe_plus:before {
	content: "\e609";
}
.awe_quote_left:before {
	content: "\e60a";
}
.awe_quote_right:before {
	content: "\e60b";
}
.awe_user:before {
	content: "\e60c";
}
