<!-- <p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Product type</th>
      <th>Price</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 -->
<!--   <tbody>
    <% @products.each do |product| %>
      <tr>
       <td><%= image_tag product.image.url(:medium) %></td>
        <td><%= product.product_name %></td>
        <td><%= product.product_type %></td>
        <td><%= product.price %></td>
        <td><%= product.info %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %> -->

<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

 
    
    <title>food</title>
</head>
<body>


<!-- PAGE WRAP -->
<div id="page-wrap">
    
    

    <!-- SUB BANNER -->
   <!--  <section class="sub-banner text-center section">
        <div class="awe-parallax bg-4"></div>
        <div class="awe-title awe-title-2">
            <h3 class="lg text-uppercase">Shop</h3>
        </div>
    </section> -->
    <!-- END / SUB BANNER -->

    <!-- SHOP PAGE -->
    <section id="shop-page" class="shop-page section">
        <div class="tabs-shop tabs-page">
            <div class="container">
                <ul class="nav-tabs" role="tablist">
                    <li class="active"><a href="#breakfast" role="tab" data-toggle="tab">Breakfast</a></li>
                    <li><a href="#lunch" role="tab" data-toggle="tab">Lunch</a></li>
                    <li><a href="#dinner" role="tab" data-toggle="tab">Dinner</a></li>
                </ul>
                
                <select class="select-custom" name="">
                    <option value="">All Meals</option>
                    <option value="">Breakfast</option>
                    <option value="">Lunch</option>
                </select>
            </div>
        </div>
        <div class="section-content">
            <div class="container">
                <div class="tab-shop-content tab-content">
                    <!-- BREAKFAST -->
                    <div class="tab-pane fade in active" id="breakfast">
                        <div class="row">



                            <!-- THE MENU ITEM -->
                           <% @products.each do |product| %>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product">
                                       <!--     <%=  image_tag product.image.url(:large) ,:alt=>"" %> 
                                           <%= link_to 'Show', product %> -->
                                           <%= link_to product do %>
                                               <%= image_tag product.image.url(:large)%>
                                            <% end %>
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount"><%= number_to_currency(product.price, :unit => 'Rs.') %></span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product_detail">
                                                 <%= link_to product do %>
                                                 <%= product.product_name %>
                                                 <%end%>
                                                 </a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>
                                                 <%= link_to product do %>
                                                 <%= product.product_type %></a></li>
                                                 <%end%>  
                                                <li><a href="#"><i class="icon awe_check"></i>
                                                 <%= link_to product do %>
                                                 <%= product.info %></a></li>
                                                 <li><a href="/cart/<%= product.id%>">Add to cart</a> </li>  
                                                 <li><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
                                                <%end%>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <% end %>
                            <!-- END / THE MENU ITEM -->
                           


                            <!-- THE MENU ITEM -->
                           <!--  <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item">
                                    <div class="image-wrap">
                                        <a class="pp-product-detail" href="product-detail.html">
                                            <img src="assets/blog/img-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="product-body">
                                        <div class="item-price">
                                            <span class="amount">$12</span>
                                        </div>
                                        <div class="item-name">
                                            <h4 class="sm">
                                                <a class="pp-product-detail" href="product-detail.html">Cereal Strawbery & Milk</a>
                                            </h4>
                                        </div>
                                        <div class="categories">
                                            <ul>
                                                <li><a href="#"><i class="icon awe_check"></i>Healthy food</a></li>
                                                <li><a href="#"><i class="icon awe_check"></i>Low-carb</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div> -->
                            <!-- END / THE MENU ITEM -->
                        </div>
                        
                    </div>
                    <!-- END / DINNER -->

                </div>
            </div>
        </div>
    </section>
    <!-- END / SHOP PAGE -->
   

</div>
<!-- END / PAGE WRAP -->




</body>

</html>