<!-- <p id="notice"><%= notice %></p>
<%= @product.inspect %>
<p>
  <strong>Product image:</strong>
  <%= image_tag @product.image.url(:medium) %>
</p>
<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @product.product_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Info:</strong>  `
  <%= @product.info %>
</p> -->
<!--
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
-->

<html>
<head>

  

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

 
    
    <title>food</title>
</head>
<body>

 <section id="contact" class="contact section">
        <div class="contact-form contact-form-2">
            <div class="divider divider-2"></div>
            <div class="container">
                  <div class="row">
                      <div class="col-md-4">
                      <address class="find-us">
                          <div class="item"> 
                          <%= image_tag @product.image.url(:large) %></div>
                          </address>
                      </div>
                      <div class="col-md-7">
                        <div class="form-row">
                          <div class="product-detail-content">
                          <h3 class="lg"> <%= @product.product_name %></h3>
                          <div class="categories">
                              <ul>
                              <li>Food Type : &nbsp;<i class="icon awe_check"></i> <%= @product.product_type %></li>
                                  
                              </ul>
                          </div>
                          <div class="product-desc">
                             
                              <div class="ingredient">
                                  <p><strong>Description :</strong> <%= @product.info %>.</p>
                                  
                              </div>
                          </div>

                          <div class="product-desc">
                             
                              <div class="ingredient">
                                  <p><strong>Quantity :</strong> </p>
                                   <select name="post[@product_id]">
                                  <option value="">Please select</option>
                                  <option value="1" selected="selected">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                </select>
                                  
                              </div>
                          </div>

                          <div class="product-foot ">
                          <span class="price"> Rs.<%= @product.price %></span>
                          </div>
                          
                          <div class="clearfix"></div>
                          <div class="product-foot">
                             <div class="add-to-cart">
                              <%= link_to 'Back', products_path, :class=>"btn text-uppercase" %>
                               <%= link_to 'Proceed', userdetils_path, :class=>"btn text-uppercase" %>
                               <a href="/cart/<%= @product.id%>"class="btn text-uppercase">Add to cart</a>
                             
                              </div>
                          </div>
                          <br>

                      </div>
                            </div>
                      </div> 
                      
                  
                    <div class="col-md-9 ">
                        <h4 class="text-uppercase"><%= @product.comments.count %> &nbsp;Comments</h4>
                        <hr class="_hr_dark">

                        <blockquote class="blockquote q-left">
                            <%= render @product.comments %>
                          <br>  
                       </blockquote>
                       <hr class="_hr_dark">
                        <blockquote class="blockquote q-right">
                           <span class="blockquote-footer pull-left">Add a comment:</span>
                            <%= render "comments/form" %>
                        </blockquote>
                    </div>
              
                  </div>
            </div>
        </div>

</section>

</body>
</html>
<br><br><br><br><br><br>