<!-- <%= form_for(@userdetil) do |f| %>
  <% if @userdetil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userdetil.errors.count, "error") %> prohibited this userdetil from being saved:</h2>

      <ul>
      <% @userdetil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fname %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :mobileno %><br>
    <%= f.text_field :mobileno %>
  </div>
  <div class="field">
    <%= f.label :landlineno %><br>
    <%= f.text_field :landlineno %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> -->


<!DOCTYPE html>
<html class="" lang="en"> 
<head>
   

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    
    <title>food</title>
</head>
<body>



<!-- PAGE WRAP -->
<div id="page-wrap">
    
    
  

    <!-- CONTACT US -->
    <section id="contact" class="contact section">

        <div class="contact-form contact-form-2">
            <div class="divider divider-2"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 find-us">
                    <h3>Add Address info</h3>
                    <img src="../../assets/address.png"  width="250" height="42">
                      <!-- <img src="../assets/contact_us.png"  width="200" height="42"> -->
                           
                    
                    </div>
                    <div class="col-md-7">
                        <div class="form-row ">
                       
                  
                                <%= form_for(@userdetil) do |f| %>
                               <% if @userdetil.errors.any? %>
                                 <div id="error_explanation">
                                   <h2><%= pluralize(@userdetil.errors.count, "error") %> prohibited this userdetil from being saved:</h2>
                             
                                       <ul>
                                       <% @userdetil.errors.full_messages.each do |message| %>
                                         <li><%= message %></li>
                                       <% end %>
                                       </ul>
                                     </div>
                                   <% end %>
                                       <div class="form-item form-type-name">
                                          <%= f.text_field :fname, :placeholder=>"first name" %>
                                       </div>
                                        <div class="form-item form-type-name">
                                       
                                        <%= f.text_field :lname, :placeholder=>"last name"  %>
                                      </div>
                                       <div class="form-item form-textarea">
                                       
                                        <%= f.text_area :address,:placeholder=>"Address"  %>
                                      </div>
                                        <div class="form-item form-type-name">
                                     
                                        <%= f.text_field :city,:placeholder=>"city"  %>
                                      </div>
                                        <div class="form-item form-type-name">
                                       
                                        <%= f.text_field :state,:placeholder=>"state"%>
                                      </div>
                                        <div class="form-item form-type-name">
                                      
                                        <%= f.text_field :zipcode,:placeholder=>"zipcode"%>
                                      </div>
                                        <div class="form-item form-type-name">
                                        
                                        <%= f.text_field :mobileno, :placeholder=>"mobileno"%>
                                      </div>
                                        <div class="form-item form-type-name">
                                       
                                        <%= f.text_field :landlineno, :placeholder=>"landlineno"%>
                                         </div>
                                          <div class="form-item form-type-name">
                                       
                                        <%= f.text_field :emailid, :placeholder=>"Email id"%>
                                         </div>
                                                           
                          <hr>
                             <center>
                                <div >
                                     <%= f.submit value="Submit", :class=>"btn text-uppercase" %>
                                </div>
                                </center>
                            </form>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

    </section>

    <!-- END / CONTACT US -->

</div>
<!-- END / PAGE WRAP -->


</body>


</html>