<!-- <p id="notice"><%= notice %></p>

<h1>Listing Userdetils</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Mobileno</th>
      <th>Landlineno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userdetils.each do |userdetil| %>
      <tr>
        <td><%= userdetil.fname %></td>
        <td><%= userdetil.lname %></td>
        <td><%= userdetil.address %></td>
        <td><%= userdetil.city %></td>
        <td><%= userdetil.state %></td>
        <td><%= userdetil.zipcode %></td>
        <td><%= userdetil.mobileno %></td>
        <td><%= userdetil.landlineno %></td>
        <td><%= link_to 'Show', userdetil %></td>
        <td><%= link_to 'Edit', edit_userdetil_path(userdetil) %></td>
        <td><%= link_to 'Destroy', userdetil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->
 

<!-- <%= link_to 'New Userdetil', new_userdetil_path, :class=>"btn text-uppercase"  %> -->



<!DOCTYPE html>
<html class="" lang="en"> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">

    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    
    <title>food</title>
</head>
<body>



<!-- PAGE WRAP -->
<div id="page-wrap">
    
    
  

    <!-- CONTACT US -->
    <section id="contact" class="contact section">

        <div class="contact-form contact-form-2">
            <div class="divider divider-2"></div>
            <div class="container">
                <div class="row">
                  <div class="col-md-3 find-us" >
                    
                        <div class="form-row">
                          <!--  <img src="../../assets/online-payment.jpg"  width="550"  >    -->
                      
                           <img src="../../assets/psc-logo-2015.png"  width="550"  >  
                           
                        </div>
                        </div>
                <% @userdetils.each do |userdetil| %>
                    <div class="col-md-5">
                        <address class="find-us">
                            <span class="md">Address</span>
                             
                            <div class="location-1">
                                <i class="icon awe_map_marker"></i>
                              <strong>Name:&nbsp&nbsp<%= userdetil.fname %>&nbsp<%= userdetil.lname %>,<br>
                               <i class="icon awe_map_marker"></i><%= userdetil.address %>,&nbsp<%= userdetil.city %>,
                               <br><%= userdetil.state %> ,&nbsp<%= userdetil.zipcode %>.<strong>

                           </div>

                            <div class="location-1">
                              
                                <strong>Mobile no :&nbsp<i class="fa fa-mobile"></i>&nbsp <%= userdetil.mobileno %>.<br>  
                                       Landline no: &nbsp<i class="fa fa-phone"></i>&nbsp<%= userdetil.landlineno %>.</strong>
                              
                            </div>
                             <div class="location-1">
                              
                                <strong>Email Id :&nbsp<i class="fa fa-mobile"></i>&nbsp <%= userdetil.emailid %>.<br>  
                                       
                            </div>
<!-- 
<!-- 
                            <div class="phone">                
                                <strong>Office No.</strong>
                                <%= userdetil.mobileno %>
                                  <strong>MObile No.</strong>
                                 <%= userdetil.landlineno %>
                            </div> -->
                            <td><%= link_to 'Edit', edit_userdetil_path(userdetil), :class=>"btn text-uppercase" %></td>
                            <td><%= link_to 'Destroy', userdetil, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn text-uppercase" %></td>
                            <td><%= link_to 'Pay', userdetils_path, :class=>"btn text-uppercase" %></td>
                        </address>
                    </div>
                    <%end%>
                         <div class="col-md-4 " >
                    
                        <div class="form-row">
                           <img src="../../assets/online-payment.jpg"  width="550"  >   
                      
                           
                           
                        </div>
                        </div>
                        
                </div>
            </div>
        </div>


    </section>

      
    <!-- END / CONTACT US -->

</div>
<!-- END / PAGE WRAP -->


</body>


</html>
