<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @userdetil.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @userdetil.lname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @userdetil.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @userdetil.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @userdetil.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @userdetil.zipcode %>
</p>

<p>
  <strong>Mobileno:</strong>
  <%= @userdetil.mobileno %>
</p>

<p>
  <strong>Landlineno:</strong>
  <%= @userdetil.landlineno %>
</p>

<%= link_to 'Edit', edit_userdetil_path(@userdetil) %> |
<%= link_to 'Back', userdetils_path %>
